Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.6.2

opentofu_fmt:
  name: opentofu_fmt
  description: Format all .tf files to a canonical format.
  language: docker_image
  entry: ghcr.io/opentofu/opentofu fmt

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: make generate
  pass_filenames: false

feat: attach server to a specific network subnet
  docs/resources/server_network.md
  internal/server/resource_network.go
  internal/server/resource_network_test.go
Due: generate

feat: attach server to a specific network subnet (#1217)
  docs/resources/server_network.md
  internal/server/resource_network.go
  internal/server/resource_network_test.go
Due: generate

refactor: move resource.hcloud_load_balancer_network to Plugin Framework
  docs/resources/load_balancer_network.md
  examples/resources/hcloud_load_balancer_network/resource.tf
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
  internal/loadbalancer/model.go
  internal/loadbalancer/resource_network.go
  internal/loadbalancer/resource_network_test.go
  internal/loadbalancer/resource_target_test.go
  internal/loadbalancer/testing.go
  internal/testdata/r/hcloud_load_balancer_network.tf.tmpl
  templates/resources/load_balancer_network.md.tmpl
Due: opentofu_fmt, generate

feat: DNS features are now generally available
  docs/data-sources/zone.md
  docs/data-sources/zone_rrset.md
  docs/data-sources/zone_rrsets.md
  docs/data-sources/zones.md
  docs/functions/idna.md
  docs/functions/txt_record.md
  docs/resources/zone.md
  docs/resources/zone_rrset.md
  internal/util/experimental/experimental.go
  internal/zone/data_source.go
  internal/zone/data_source_list.go
  internal/zone/function_idna.go
  internal/zone/resource.go
  internal/zonerrset/data_source.go
  internal/zonerrset/data_source_list.go
  internal/zonerrset/function_txt_record.go
  internal/zonerrset/resource.go
Due: generate

feat: add zone_record resource
  docs/resources/zone_record.md
  hcloud/plugin_provider.go
  internal/testdata/r/hcloud_zone_record.tf.tmpl
  internal/util/convutil/conv.go
  internal/zonerecord/model.go
  internal/zonerecord/model_test.go
  internal/zonerecord/resource.go
  internal/zonerecord/resource_test.go
  internal/zonerecord/testing.go
Due: generate

docs: add import block example
  docs/resources/load_balancer_network.md
  examples/resources/hcloud_load_balancer_network/import-by-string-id.tf
Due: opentofu_fmt, generate

refactor: move resource.hcloud_load_balancer_network to Plugin Framework (#1246)
  docs/resources/load_balancer_network.md
  examples/resources/hcloud_load_balancer_network/import-by-string-id.tf
  examples/resources/hcloud_load_balancer_network/resource.tf
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
  internal/loadbalancer/model.go
  internal/loadbalancer/resource_network.go
  internal/loadbalancer/resource_network_test.go
  internal/loadbalancer/resource_target_test.go
  internal/loadbalancer/testing.go
  internal/testdata/r/hcloud_load_balancer_network.tf.tmpl
  templates/resources/load_balancer_network.md.tmpl
Due: opentofu_fmt, generate

feat: attach load balancer to a specific network subnet
  internal/loadbalancer/resource_network.go
  internal/loadbalancer/resource_network_test.go
Due: generate

feat: attach load balancer to a specific network subnet (#1242)
  internal/loadbalancer/resource_network.go
  internal/loadbalancer/resource_network_test.go
Due: generate

feat: DNS support is now generally available (#1247)
  docs/data-sources/zone.md
  docs/data-sources/zone_rrset.md
  docs/data-sources/zone_rrsets.md
  docs/data-sources/zones.md
  docs/functions/idna.md
  docs/functions/txt_record.md
  docs/resources/zone.md
  docs/resources/zone_rrset.md
  internal/util/experimental/experimental.go
  internal/zone/data_source.go
  internal/zone/data_source_list.go
  internal/zone/function_idna.go
  internal/zone/resource.go
  internal/zonerrset/data_source.go
  internal/zonerrset/data_source_list.go
  internal/zonerrset/function_txt_record.go
  internal/zonerrset/resource.go
Due: generate

chore(main): release v1.56.0
  CHANGELOG.md
Due: none

chore(main): release v1.56.0 (#1245)
  CHANGELOG.md
Due: none

feat: add support for Hetzner API endpoint (#1167)
  docs/index.md
  hcloud/plugin_provider.go
  hcloud/provider.go
  templates/index.md.tmpl
Due: generate

feat(storage-box): implement storage box type datasource (#1234)
  docs/data-sources/storage_box_type.md
  docs/data-sources/storage_box_types.md
  examples/data-sources/hcloud_storage_box_type/data-source.tf
  examples/data-sources/hcloud_storage_box_types/data-source.tf
  hcloud/plugin_provider.go
  internal/storageboxtype/data_source.go
  internal/storageboxtype/data_source_list.go
  internal/storageboxtype/data_source_list_test.go
  internal/storageboxtype/data_source_test.go
  internal/storageboxtype/model.go
  internal/storageboxtype/model_test.go
  internal/storageboxtype/testing.go
  internal/testdata/d/hcloud_storage_box_type.tf.tmpl
  internal/testdata/d/hcloud_storage_box_types.tf.tmpl
  internal/util/experimental/experimental.go
Due: opentofu_fmt, generate

feat(storageboxes): implement hcloud_storage_box resource
  docs/resources/storage_box.md
  examples/data-sources/hcloud_storage_box/data-source.tf
  examples/data-sources/hcloud_storage_boxes/data-source.tf
  examples/resources/hcloud_storage_box/import-by-string-id.tf
  examples/resources/hcloud_storage_box/import.sh
  examples/resources/hcloud_storage_box/resource.tf
  hcloud/plugin_provider.go
  internal/storagebox/data_source.go
  internal/storagebox/data_source_list.go
  internal/storagebox/data_source_list_test.go
  internal/storagebox/data_source_test.go
  internal/storagebox/model.go
  internal/storagebox/model_test.go
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
  internal/storagebox/testing.go
  internal/testdata/d/hcloud_storage_box.tf.tmpl
  internal/testdata/d/hcloud_storage_boxes.tf.tmpl
  internal/testdata/r/hcloud_storage_box.tf.tmpl
  internal/teste2e/testing.go
  internal/testsupport/check2.go
Due: opentofu_fmt, generate

feat(storageboxes): implement datasources
  docs/data-sources/storage_box.md
  docs/data-sources/storage_boxes.md
  examples/data-sources/hcloud_storage_box/data-source.tf
  examples/data-sources/hcloud_storage_boxes/data-source.tf
  hcloud/plugin_provider.go
  internal/storagebox/data_source.go
  internal/storagebox/data_source_list.go
  internal/storagebox/data_source_list_test.go
  internal/storagebox/data_source_test.go
  internal/storagebox/model.go
  internal/storagebox/model_test.go
  internal/storagebox/resource.go
  internal/storagebox/testing.go
Due: opentofu_fmt, generate

chore: remove outdated todos
  internal/storagebox/resource.go
Due: generate

docs: generate
  docs/data-sources/storage_box.md
  docs/data-sources/storage_boxes.md
Due: none

chore: linter fixes
  internal/storagebox/model.go
  internal/storagebox/resource_test.go
Due: generate

feat(storage-box): add actions to hcloud_storage_box resource
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
Due: generate

fix: abort when data transformation errors
  internal/server/resource_network.go
  internal/zone/resource.go
  internal/zonerrset/resource.go
Due: generate

chore: review feedback
  docs/data-sources/storage_box.md
  docs/data-sources/storage_boxes.md
  docs/resources/storage_box.md
  internal/storagebox/data_source.go
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
Due: generate

fix: abort when data transformation errors (#1253)
  internal/server/resource_network.go
  internal/zone/resource.go
  internal/zonerrset/resource.go
Due: generate

refactor: replace hcloudutil.WaitForActions
  internal/firewall/attachment_resource.go
  internal/firewall/resource.go
  internal/server/resource.go
  internal/util/hcloudutil/action.go
Due: generate

refactor: replace hcloudutil.WaitForAction
  internal/certificate/resource.go
  internal/firewall/resource.go
  internal/floatingip/resource.go
  internal/floatingip/resource_assignment.go
  internal/loadbalancer/resource.go
  internal/loadbalancer/resource_network.go
  internal/loadbalancer/resource_service.go
  internal/loadbalancer/resource_target.go
  internal/network/resource.go
  internal/network/resource_route.go
  internal/network/resource_subnet.go
  internal/placementgroup/resource.go
  internal/primaryip/resource.go
  internal/rdns/resource_rdns.go
  internal/server/common.go
  internal/server/resource.go
  internal/server/resource_network.go
  internal/server/resource_test.go
  internal/snapshot/resource.go
  internal/util/hcloudutil/action.go
  internal/volume/resource.go
  internal/volume/resource_attachment.go
Due: generate

chore: remove duplicate action nil checks
  internal/floatingip/resource.go
  internal/loadbalancer/resource_target.go
  internal/placementgroup/resource.go
  internal/primaryip/resource.go
  internal/snapshot/resource.go
Due: generate

refactor: replace hcloudutil.WaitForAction(s) (#1252)
  internal/certificate/resource.go
  internal/firewall/attachment_resource.go
  internal/firewall/resource.go
  internal/floatingip/resource.go
  internal/floatingip/resource_assignment.go
  internal/loadbalancer/resource.go
  internal/loadbalancer/resource_network.go
  internal/loadbalancer/resource_service.go
  internal/loadbalancer/resource_target.go
  internal/network/resource.go
  internal/network/resource_route.go
  internal/network/resource_subnet.go
  internal/placementgroup/resource.go
  internal/primaryip/resource.go
  internal/rdns/resource_rdns.go
  internal/server/common.go
  internal/server/resource.go
  internal/server/resource_network.go
  internal/server/resource_test.go
  internal/snapshot/resource.go
  internal/util/hcloudutil/action.go
  internal/volume/resource.go
  internal/volume/resource_attachment.go
Due: generate

fix: ensure tainted resource are replaced when creation fails
  internal/loadbalancer/resource_network.go
  internal/server/resource_network.go
  internal/zone/resource.go
  internal/zonerrset/resource.go
Due: generate

fix: ensure partially created resources are tainted in the state (#1257)
  internal/loadbalancer/resource_network.go
  internal/server/resource_network.go
  internal/zone/resource.go
  internal/zonerrset/resource.go
Due: generate

chore: add missing attribute for #1257
  internal/zonerrset/resource.go
Due: generate

chore: add missing attribute for #1257 (#1258)
  internal/zonerrset/resource.go
Due: generate

fix: dns records order is guaranteed
  docs/data-sources/zone_rrset.md
  docs/data-sources/zone_rrsets.md
  docs/resources/zone_rrset.md
  internal/zonerrset/data_source.go
  internal/zonerrset/data_source_list_test.go
  internal/zonerrset/data_source_test.go
  internal/zonerrset/model.go
  internal/zonerrset/resource.go
  internal/zonerrset/resource_test.go
Due: generate

fix: dns records order is not guaranteed (#1259)
  docs/data-sources/zone_rrset.md
  docs/data-sources/zone_rrsets.md
  docs/resources/zone_rrset.md
  internal/zonerrset/data_source.go
  internal/zonerrset/data_source_list_test.go
  internal/zonerrset/data_source_test.go
  internal/zonerrset/model.go
  internal/zonerrset/resource.go
  internal/zonerrset/resource_test.go
Due: generate

chore(main): release v1.56.1
  CHANGELOG.md
Due: none

feat: drop builds for windows arm (arm32)
  .goreleaser.yml
Due: prettier

feat: drop builds for windows arm (32 bit) (#1260)
  .goreleaser.yml
Due: prettier

Path conditions:
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|docs/.*)$
  opentofu_fmt: any of: \.tf$
  generate: any of: (^examples/|\.go$)
