Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.6.2]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|docs/.*)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--shell, bash]

  - repo: local
    hooks:
      - id: opentofu_fmt
        name: opentofu_fmt
        description: Format all .tf files to a canonical format.
        language: docker_image
        entry: ghcr.io/opentofu/opentofu fmt
        files: \.tf$

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: make generate
        pass_filenames: false
        files: (^examples/|\.go$)

refactor: run go fix against codebase (go1.27)
  internal/firewall/resource.go
  internal/util/control/retry.go
  internal/util/hcloudutil/error_framework.go
Due: generate

refactor: run go fix against codebase (go1.27) (#1525)
  internal/firewall/resource.go
  internal/util/control/retry.go
  internal/util/hcloudutil/error_framework.go
Due: generate

fix(server): only write ipv6 network to state if defined
  internal/server/resource.go
Due: generate

feat(server): always read public_net config into state
  internal/server/resource.go
Due: generate

fix: mark public_net as computer and remove diff suppression
  internal/server/resource.go
Due: generate

docs: updated docs according this fork
  README.md
  docs/index.md
  templates/index.md.tmpl
Due: prettier

feat(server): only rebuilding when action specified
  internal/server/resource.go
Due: generate

ci: only tag the latest version found after a sync
  .github/workflows/cut-fork-release.yml
Due: prettier

fix(server): only write `ipv6_network` value to state if defined (#1526)
  internal/server/resource.go
Due: generate

feat(image): add deprecation info to data sources
  docs/data-sources/image.md
  docs/data-sources/images.md
  internal/image/data_source.go
  internal/image/model.go
  internal/image/model_test.go
Due: generate

test: cover deprecation attributes in image model
  internal/image/model_test.go
Due: generate

feat(image): add deprecation info to data sources (#1529)
  docs/data-sources/image.md
  docs/data-sources/images.md
  go.mod
  go.sum
  internal/image/data_source.go
  internal/image/model.go
  internal/image/model_test.go
Due: generate

test: drop terraform v1.14 and add terraform v1.16
  .github/workflows/test.yml
Due: prettier

test: drop terraform v1.14 and add terraform v1.16 (#1531)
  .github/workflows/test.yml
Due: prettier

chore(main): release v1.69.0
  CHANGELOG.md
Due: none

chore(main): release v1.69.0 (#1528)
  CHANGELOG.md
Due: none

feat(server): save public net state during import
  internal/server/resource.go
Due: generate

ci: fix uncontrolled terraform install in unit tests
  .github/workflows/test.yml
Due: prettier

ci: also install for pre-commit generate
  .github/workflows/lint.yml
Due: prettier

ci: fix uncontrolled terraform install in unit tests (#1536)
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

tmp: use dev hcloud-go branch
  go.mod
  go.sum
Due: none

feat: add hcloud_network_members data source
  docs/data-sources/network_members.md
  examples/data-sources/hcloud_network_members/data-source.tf
  hcloud/plugin_provider.go
  internal/networkmember/data_source.go
  internal/networkmember/data_source_list.go
  internal/networkmember/data_source_list_test.go
  internal/networkmember/model.go
  internal/networkmember/model_test.go
  internal/networkmember/testing.go
  internal/testdata/d/hcloud_network_members.tf.tmpl
Due: opentofu_fmt, generate

fix(load_balancer): lift delete protection when deleting the resource
  internal/loadbalancer/resource.go
  internal/loadbalancer/resource_test.go
Due: generate

docs: add example to list all ips
  docs/data-sources/network_members.md
  examples/data-sources/hcloud_network_members/data-source.tf
Due: opentofu_fmt, generate

feat: add hcloud_network_members data-source (#1535)
  docs/data-sources/network_members.md
  examples/data-sources/hcloud_network_members/data-source.tf
  hcloud/plugin_provider.go
  internal/networkmember/data_source.go
  internal/networkmember/data_source_list.go
  internal/networkmember/data_source_list_test.go
  internal/networkmember/model.go
  internal/networkmember/model_test.go
  internal/networkmember/testing.go
  internal/testdata/d/hcloud_network_members.tf.tmpl
Due: opentofu_fmt, generate

chore(main): release v1.70.0
  CHANGELOG.md
Due: none

refactor(storage_box): validate password attributes at resource level, test migration
  docs/resources/storage_box.md
  docs/resources/storage_box_subaccount.md
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
  internal/storageboxsubaccount/resource.go
  internal/storageboxsubaccount/resource_test.go
Due: generate

test: skip e2e tests for datacenters after endpoint removal
  internal/datacenter/data_source_test.go
Due: generate

test: skip e2e tests for datacenters after endpoint removal (#1543)
  internal/datacenter/data_source_test.go
Due: generate

fix: support data sources
  docs/data-sources/load_balancer.md
  internal/loadbalancer/data_source.go
  templates/data-sources/load_balancer.md.tmpl
Due: generate

feat(load_balancer): create using existing primary ips
  docs/resources/load_balancer.md
  internal/loadbalancer/resource.go
  internal/loadbalancer/resource_test.go
  internal/loadbalancer/testing.go
  internal/testdata/r/hcloud_load_balancer.tf.tmpl
  templates/resources/load_balancer.md.tmpl
Due: generate

feat: wait for action when deleting load balancer
  internal/loadbalancer/resource.go
Due: generate

feat(load_balancer): allow creating load balancers with primary ips (#1544)
  docs/data-sources/load_balancer.md
  docs/resources/load_balancer.md
  go.mod
  go.sum
  internal/loadbalancer/data_source.go
  internal/loadbalancer/resource.go
  internal/loadbalancer/resource_test.go
  internal/loadbalancer/testing.go
  internal/testdata/r/hcloud_load_balancer.tf.tmpl
  templates/data-sources/load_balancer.md.tmpl
  templates/resources/load_balancer.md.tmpl
Due: generate

chore(main): release v1.70.0 (#1540)
  CHANGELOG.md
Due: none

test: fix primary ip assignee type value when unassigned
  docs/resources/server.md
  internal/primaryip/resource_test.go
  templates/resources/server.md.tmpl
Due: generate

test: missing updates
  internal/loadbalancer/resource_test.go
  internal/primaryip/data_source_list_test.go
  internal/primaryip/data_source_test.go
  internal/primaryip/model_test.go
Due: generate

test: fix primary ip assignee type value when unassigned (#1545)
  docs/resources/server.md
  internal/loadbalancer/resource_test.go
  internal/primaryip/data_source_list_test.go
  internal/primaryip/data_source_test.go
  internal/primaryip/model_test.go
  internal/primaryip/resource_test.go
  templates/resources/server.md.tmpl
Due: generate

docs: update improper spelling of 'lose'
  docs/resources/storage_box.md
  examples/resources/hcloud_storage_box/resource.tf
  internal/loadbalancer/resource_test.go
Due: opentofu_fmt, generate
