Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.6.2

opentofu_fmt:
  name: opentofu_fmt
  description: Format all .tf files to a canonical format.
  language: docker_image
  entry: ghcr.io/opentofu/opentofu fmt

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: make generate
  pass_filenames: false

fix(storage-box): run actions serially
  internal/storagebox/resource.go
  internal/storageboxsubaccount/resource.go
Due: generate

fix(storage-box): run actions serially (#1294)
  internal/storagebox/resource.go
  internal/storageboxsubaccount/resource.go
Due: generate

feat(storage-box): stop ignoring changes to ssh keys and replace resource instead
  docs/resources/storage_box.md
  examples/resources/hcloud_storage_box/resource.tf
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
Due: opentofu_fmt, generate

ci: update support terraform version matrix (#1269)
  .github/workflows/test.yml
Due: prettier

ci: update support OpenTofu version matrix (#1269) (#1298)
  .github/workflows/test.yml
Due: prettier

chore(main): release v1.58.0
  CHANGELOG.md
Due: none

Fix hcloud_zone example
  examples/resources/hcloud_zone/resource.tf
Due: opentofu_fmt, generate

docs: example for managed resources across multiple projects
  docs/guides/multiple-projects.md
  templates/guides/multiple-projects.md
Due: prettier

wording
  docs/guides/multiple-projects.md
  templates/guides/multiple-projects.md
Due: prettier

docs: example for managing resources across multiple projects (#1303)
  docs/guides/multiple-projects.md
  templates/guides/multiple-projects.md
Due: prettier

feat(storage-box): stop ignoring changes to ssh keys and replace resource instead (#1296)
  docs/resources/storage_box.md
  examples/resources/hcloud_storage_box/resource.tf
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
Due: opentofu_fmt, generate

chore: run make generate
  docs/resources/zone.md
Due: none

docs: fix hcloud_zone example (#1301)
  docs/resources/zone.md
  examples/resources/hcloud_zone/resource.tf
Due: opentofu_fmt, generate

test: remove unused test sweepers
  .golangci.yaml
  internal/certificate/testing.go
  internal/firewall/testing.go
  internal/floatingip/testing.go
  internal/loadbalancer/testing.go
  internal/network/testing.go
  internal/primaryip/testing.go
  internal/rdns/testing.go
  internal/server/testing.go
  internal/snapshot/testing.go
  internal/sshkey/testing.go
  internal/storagebox/testing.go
  internal/volume/testing.go
  internal/zone/testing.go
Due: prettier, generate

test: remove unused test sweepers (#1304)
  .golangci.yaml
  internal/certificate/testing.go
  internal/firewall/testing.go
  internal/floatingip/testing.go
  internal/loadbalancer/testing.go
  internal/network/testing.go
  internal/primaryip/testing.go
  internal/rdns/testing.go
  internal/server/testing.go
  internal/snapshot/testing.go
  internal/sshkey/testing.go
  internal/storagebox/testing.go
  internal/volume/testing.go
  internal/zone/testing.go
Due: prettier, generate

fix(zone): using variable for primary nameservers causes error
  internal/zone/resource.go
Due: generate

fix(storage-box): retry snapshot+subaccount create when locked (#1284)
  internal/storageboxsnapshot/data_source_list_test.go
  internal/storageboxsnapshot/resource.go
  internal/storageboxsubaccount/data_source_list_test.go
  internal/storageboxsubaccount/resource.go
Due: generate

fix(zone): using variable for primary nameservers causes error (#1306)
  internal/zone/resource.go
Due: generate

fix(storage-box): retry snapshot+subaccount create when locked (#1307)
  internal/storageboxsnapshot/data_source_list_test.go
  internal/storageboxsnapshot/resource.go
  internal/storageboxsubaccount/data_source_list_test.go
  internal/storageboxsubaccount/resource.go
Due: generate

test: remove old UpgradePluginFramework tests
  internal/datacenter/data_source_test.go
  internal/loadbalancer/resource_network_test.go
  internal/location/data_source_test.go
  internal/server/resource_network_test.go
  internal/sshkey/data_source_list_test.go
  internal/sshkey/data_source_test.go
  internal/sshkey/resource_test.go
Due: generate

test: remove old UpgradePluginFramework tests (#1308)
  internal/datacenter/data_source_test.go
  internal/loadbalancer/resource_network_test.go
  internal/location/data_source_test.go
  internal/server/resource_network_test.go
  internal/sshkey/data_source_list_test.go
  internal/sshkey/data_source_test.go
  internal/sshkey/resource_test.go
Due: generate

feat: deprecate datacenter in `primary ips` and `servers`
  docs/data-sources/primary_ip.md
  docs/data-sources/server.md
  docs/resources/primary_ip.md
  docs/resources/server.md
  examples/resources/hcloud_server/example_2.tf
  internal/firewall/attachment_resource_test.go
  internal/primaryip/data_source.go
  internal/primaryip/data_source_test.go
  internal/primaryip/resource.go
  internal/primaryip/resource_test.go
  internal/primaryip/testing.go
  internal/rdns/resource_test.go
  internal/server/data_source.go
  internal/server/resource.go
  internal/server/resource_network_test.go
  internal/server/resource_test.go
  internal/testdata/r/hcloud_primary_ip.tf.tmpl
  templates/data-sources/primary_ip.md.tmpl
  templates/data-sources/server.md.tmpl
  templates/resources/primary_ip.md.tmpl
  templates/resources/server.md.tmpl
Due: opentofu_fmt, generate

docs: add guidelines for deprecating attributes
  README.md
Due: prettier

feat: deprecate datacenter in primary ips and servers (#1309)
  docs/data-sources/primary_ip.md
  docs/data-sources/server.md
  docs/resources/primary_ip.md
  docs/resources/server.md
  examples/resources/hcloud_server/example_2.tf
  go.mod
  go.sum
  internal/firewall/attachment_resource_test.go
  internal/primaryip/data_source.go
  internal/primaryip/data_source_test.go
  internal/primaryip/resource.go
  internal/primaryip/resource_test.go
  internal/primaryip/testing.go
  internal/rdns/resource_test.go
  internal/server/data_source.go
  internal/server/resource.go
  internal/server/resource_network_test.go
  internal/server/resource_test.go
  internal/testdata/r/hcloud_primary_ip.tf.tmpl
  templates/data-sources/primary_ip.md.tmpl
  templates/data-sources/server.md.tmpl
  templates/resources/primary_ip.md.tmpl
  templates/resources/server.md.tmpl
Due: opentofu_fmt, generate

style: small improvements
  README.md
Due: prettier

docs: add guidelines for deprecating attributes (#1313)
  README.md
Due: prettier

chore(main): release v1.58.0 (#1295)
  CHANGELOG.md
Due: none

fix: support importing storage box without forced replacement
  internal/storagebox/resource.go
Due: generate

fix: support importing storage box without forced replacement (#1314)
  internal/storagebox/resource.go
Due: generate

feat: wait for storage box pending actions before retrying an action
  internal/storageboxsnapshot/resource.go
  internal/storageboxsubaccount/resource.go
Due: generate

fix: panic on nil action in settle actions helper
  internal/util/hcloudutil/actions.go
Due: generate

fix: panic on nil action in settle actions helper (#1321)
  internal/util/hcloudutil/actions.go
Due: generate

feat: add zone_record resource
  docs/resources/zone_record.md
  examples/resources/hcloud_zone_record/import-by-identity.tf
  examples/resources/hcloud_zone_record/resource.tf
  hcloud/plugin_provider.go
  internal/testdata/r/hcloud_zone_record.tf.tmpl
  internal/util/convutil/conv.go
  internal/zonerecord/model.go
  internal/zonerecord/model_test.go
  internal/zonerecord/resource.go
  internal/zonerecord/resource_test.go
  internal/zonerecord/testing.go
Due: opentofu_fmt, generate

fix: linting
  internal/zonerecord/resource.go
Due: generate

fix: identity with tofu
  internal/zonerecord/resource.go
  internal/zonerecord/resource_test.go
Due: generate

feat: add name to Storage Box Subaccount
  docs/data-sources/storage_box_subaccount.md
  docs/data-sources/storage_box_subaccounts.md
  docs/resources/storage_box_subaccount.md
  examples/data-sources/hcloud_storage_box_subaccount/data-source.tf
  examples/resources/hcloud_storage_box_subaccount/resource.tf
  internal/storageboxsubaccount/data_source.go
  internal/storageboxsubaccount/model.go
  internal/storageboxsubaccount/resource.go
  internal/storageboxsubaccount/resource_test.go
Due: opentofu_fmt, generate

feat: add name to Storage Box Subaccount (#1323)
  docs/data-sources/storage_box_subaccount.md
  docs/data-sources/storage_box_subaccounts.md
  docs/resources/storage_box_subaccount.md
  examples/data-sources/hcloud_storage_box_subaccount/data-source.tf
  examples/resources/hcloud_storage_box_subaccount/resource.tf
  internal/storageboxsubaccount/data_source.go
  internal/storageboxsubaccount/model.go
  internal/storageboxsubaccount/resource.go
  internal/storageboxsubaccount/resource_test.go
Due: opentofu_fmt, generate

Path conditions:
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|docs/.*)$
  opentofu_fmt: any of: \.tf$
  generate: any of: (^examples/|\.go$)
