Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.6.2]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|docs/.*)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--shell, bash]

  - repo: local
    hooks:
      - id: opentofu_fmt
        name: opentofu_fmt
        description: Format all .tf files to a canonical format.
        language: docker_image
        entry: ghcr.io/opentofu/opentofu fmt
        files: \.tf$

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: make generate
        pass_filenames: false
        files: (^examples/|\.go$)

chore(main): release v1.59.0
  CHANGELOG.md
Due: none

chore(main): release v1.59.0 (#1315)
  CHANGELOG.md
Due: none

style: sort plugin resource list
  hcloud/plugin_provider.go
Due: generate

feat: add `zone_record` resource (#1228)
  docs/resources/zone_record.md
  examples/resources/hcloud_zone_record/import-by-identity.tf
  examples/resources/hcloud_zone_record/resource.tf
  hcloud/plugin_provider.go
  internal/testdata/r/hcloud_zone_record.tf.tmpl
  internal/util/convutil/conv.go
  internal/zonerecord/model.go
  internal/zonerecord/model_test.go
  internal/zonerecord/resource.go
  internal/zonerecord/resource_test.go
  internal/zonerecord/testing.go
Due: opentofu_fmt, generate

feat: Storage Box support no longer experimental
  internal/storagebox/data_source.go
  internal/storagebox/data_source_list.go
  internal/storagebox/resource.go
  internal/storageboxsnapshot/data_source.go
  internal/storageboxsnapshot/data_source_list.go
  internal/storageboxsnapshot/resource.go
  internal/storageboxsubaccount/data_source.go
  internal/storageboxsubaccount/data_source_list.go
  internal/storageboxsubaccount/resource.go
  internal/storageboxtype/data_source.go
  internal/storageboxtype/data_source_list.go
  internal/util/experimental/experimental.go
Due: generate

fix docs
  docs/data-sources/storage_box.md
  docs/data-sources/storage_box_snapshot.md
  docs/data-sources/storage_box_snapshots.md
  docs/data-sources/storage_box_subaccount.md
  docs/data-sources/storage_box_subaccounts.md
  docs/data-sources/storage_box_type.md
  docs/data-sources/storage_box_types.md
  docs/data-sources/storage_boxes.md
  docs/resources/storage_box.md
  docs/resources/storage_box_snapshot.md
  docs/resources/storage_box_subaccount.md
Due: none

add note on home_directory not starting with a /
  docs/resources/storage_box_subaccount.md
Due: none

docs are generated from the schema
  internal/storageboxsubaccount/resource.go
Due: generate

docs: Storage Box Subaccount home_directory should not starting with a / (#1331)
  docs/resources/storage_box_subaccount.md
  internal/storageboxsubaccount/resource.go
Due: generate

feat: Storage Box support no longer experimental (#1329)
  docs/data-sources/storage_box.md
  docs/data-sources/storage_box_snapshot.md
  docs/data-sources/storage_box_snapshots.md
  docs/data-sources/storage_box_subaccount.md
  docs/data-sources/storage_box_subaccounts.md
  docs/data-sources/storage_box_type.md
  docs/data-sources/storage_box_types.md
  docs/data-sources/storage_boxes.md
  docs/resources/storage_box.md
  docs/resources/storage_box_snapshot.md
  docs/resources/storage_box_subaccount.md
  internal/storagebox/data_source.go
  internal/storagebox/data_source_list.go
  internal/storagebox/resource.go
  internal/storageboxsnapshot/data_source.go
  internal/storageboxsnapshot/data_source_list.go
  internal/storageboxsnapshot/resource.go
  internal/storageboxsubaccount/data_source.go
  internal/storageboxsubaccount/data_source_list.go
  internal/storageboxsubaccount/resource.go
  internal/storageboxtype/data_source.go
  internal/storageboxtype/data_source_list.go
  internal/util/experimental/experimental.go
Due: generate

feat(floating-ip): unassign from server before deleting it
  internal/floatingip/resource.go
  internal/floatingip/resource_assignment.go
  internal/floatingip/resource_assignment_test.go
Due: generate

feat(floating-ip): unassign from server before deleting it (#1335)
  internal/floatingip/resource.go
  internal/floatingip/resource_assignment.go
  internal/floatingip/resource_assignment_test.go
Due: generate

chore(main): release v1.60.0
  CHANGELOG.md
Due: none

chore(main): release v1.60.0 (#1326)
  CHANGELOG.md
Due: none

implement server actions for poweron, poweroff, reset, and reboot
  docs/actions/server_poweroff.md
  docs/actions/server_poweron.md
  docs/actions/server_reboot.md
  docs/actions/server_reset.md
  hcloud/plugin_provider.go
  internal/server/server_actions.go
Due: generate

fix(storage-box): subaccount name was ignored
  internal/storageboxsubaccount/resource.go
  internal/storageboxsubaccount/resource_test.go
  internal/storageboxsubaccount/testing.go
  internal/testdata/r/hcloud_storage_box_subaccount.tf.tmpl
Due: generate

fix(storage-box): subaccount name was ignored (#1344)
  internal/storageboxsubaccount/resource.go
  internal/storageboxsubaccount/resource_test.go
  internal/storageboxsubaccount/testing.go
  internal/testdata/r/hcloud_storage_box_subaccount.tf.tmpl
Due: generate

chore(main): release v1.60.1
  CHANGELOG.md
Due: none

chore(main): release v1.60.1 (#1346)
  CHANGELOG.md
Due: none

chore: fix linting errors
  .golangci.yaml
  internal/certificate/testing.go
  internal/sshkey/testing.go
  internal/storagebox/testing.go
  internal/storageboxsubaccount/testing.go
  internal/testtemplate/template.go
Due: prettier, generate

feat(server): allow rebuilding with image and/or user-data
  internal/server/resource.go
Due: generate

feat(server): allow rebuilding only with rebuild argument
  internal/server/resource.go
Due: generate

chore: add support for action testtemplates
  internal/testtemplate/dirs.go
  internal/testtemplate/template.go
Due: generate

test: add e2e tests for server actions
  docs/actions/server_poweroff.md
  docs/actions/server_poweron.md
  docs/actions/server_reboot.md
  docs/actions/server_reset.md
  internal/server/actions.go
  internal/server/actions_test.go
  internal/server/testing.go
  internal/testdata/a/hcloud_server.tf.tmpl
  internal/testdata/r/hcloud_server.tf.tmpl
Due: generate

chore: fix linting issue
  internal/server/actions_test.go
Due: generate

fix(primary-ip): reassigning fails as IP needs to be unassigned first
  internal/primaryip/resource.go
  internal/primaryip/resource_test.go
  internal/testdata/r/hcloud_primary_ip.tf.tmpl
Due: generate

chore: use local tofu install instead of docker image for pre-commit
  .pre-commit-config.yaml
Due: prettier

ci: install tofu in workflow
  .github/workflows/lint.yml
Due: prettier

feat(server): added rebuild as bool or action
  docs/actions/server_rebuild.md
  hcloud/plugin_provider.go
  internal/server/actions.go
  internal/server/actions_test.go
  internal/server/resource.go
  internal/server/testing.go
  internal/testdata/a/hcloud_server_rebuild.tf.tmpl
Due: generate

docs: no examples for deprecated feature and move changes to template file
  docs/resources/server.md
  templates/resources/server.md.tmpl
Due: none

refactor: use explicit code
  internal/server/common.go
Due: generate

ci: move gitlab-ci.yml config to internal `gitlab-ci` branch
  .gitlab-ci.yml
Due: prettier

chore: drop support for go1.24
  go.mod
  tools/go.mod
Due: none

chore: go mod tidy
  go.sum
  tools/go.sum
Due: none

ci: use tools version file
  .github/workflows/lint.yml
Due: prettier

docs: prefer location over deprecated datacenter attribute
  docs/data-sources/primary_ip.md
  docs/resources/floating_ip_assignment.md
  docs/resources/primary_ip.md
  docs/resources/rdns.md
  docs/resources/volume_attachment.md
  examples/data-sources/hcloud_primary_ip/data-source.tf
  examples/resources/hcloud_floating_ip_assignment/resource.tf
  examples/resources/hcloud_primary_ip/resource.tf
  examples/resources/hcloud_rdns/example_2.tf
  examples/resources/hcloud_volume_attachment/resource.tf
  templates/resources/rdns.md.tmpl
Due: opentofu_fmt, generate

test(zone): fix flaky registrar check
  internal/zone/data_source_list_test.go
  internal/zone/data_source_test.go
  internal/zone/resource_test.go
  internal/zone/testing.go
Due: generate

test: improve primary ips tests
  internal/primaryip/data_source_test.go
  internal/primaryip/resource_test.go
Due: generate

fix(primary-ip): unassign before deleting a primary ip
  internal/primaryip/resource.go
Due: generate

refactor: move primary_ip to Plugin Framework
  docs/resources/primary_ip.md
  examples/resources/hcloud_primary_ip/import-by-string-id.tf
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
  internal/primaryip/data_source.go
  internal/primaryip/data_source_list.go
  internal/primaryip/data_source_list_test.go
  internal/primaryip/data_source_test.go
  internal/primaryip/helpers.go
  internal/primaryip/model.go
  internal/primaryip/model_test.go
  internal/primaryip/resource.go
  internal/primaryip/resource_test.go
  internal/primaryip/testing.go
  internal/testdata/d/hcloud_primary_ip.tf.tmpl
  internal/testdata/d/hcloud_primary_ips.tf.tmpl
  internal/testdata/r/hcloud_primary_ip.tf.tmpl
  templates/resources/primary_ip.md.tmpl
Due: opentofu_fmt, generate
