Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.6.2]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|docs/.*)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--shell, bash]

  - repo: local
    hooks:
      - id: opentofu_fmt
        name: opentofu_fmt
        description: Format all .tf files to a canonical format.
        language: docker_image
        entry: ghcr.io/opentofu/opentofu fmt
        files: \.tf$

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: make generate
        pass_filenames: false
        files: (^examples/|\.go$)

feat: add support for Hetzner API endpoint (#1167)
  docs/index.md
  hcloud/plugin_provider.go
  hcloud/provider.go
  templates/index.md.tmpl
Due: generate

chore: add experimental marker for storage box support
  internal/util/experimental/experimental.go
Due: generate

feat(storage-box): implement storage box type datasource
  docs/data-sources/storage_box_type.md
  docs/data-sources/storage_box_types.md
  hcloud/plugin_provider.go
  internal/storageboxtype/data_source.go
  internal/storageboxtype/data_source_list.go
  internal/storageboxtype/data_source_list_test.go
  internal/storageboxtype/data_source_test.go
  internal/storageboxtype/model.go
  internal/storageboxtype/model_test.go
  internal/storageboxtype/testing.go
  internal/testdata/d/hcloud_storage_box_type.tf.tmpl
  internal/testdata/d/hcloud_storage_box_types.tf.tmpl
Due: generate

fix(load-balancer): mark health check retries as required (#1232)
  docs/resources/load_balancer_service.md
  internal/loadbalancer/resource_service.go
  templates/resources/load_balancer_service.md.tmpl
Due: generate

docs: add examples
  docs/data-sources/storage_box_type.md
  docs/data-sources/storage_box_types.md
  examples/data-sources/hcloud_storage_box_type/data-source.tf
  examples/data-sources/hcloud_storage_box_types/data-source.tf
Due: opentofu_fmt, generate

fix: remove list id attribute
  docs/data-sources/storage_box_types.md
  internal/storageboxtype/data_source_list.go
  internal/storageboxtype/model.go
Due: generate

docs(zone): wrong variable for import id
  docs/resources/zone.md
  examples/resources/hcloud_zone/import-by-string-id.tf
Due: opentofu_fmt, generate

chore: add string utils
  internal/util/strings.go
  internal/util/strings_test.go
Due: generate

chore: add string utils (#1236)
  internal/util/strings.go
  internal/util/strings_test.go
Due: generate

feat: empty files
  examples/data-sources/hcloud_storage_box/data-source.tf
  examples/data-sources/hcloud_storage_boxes/data-source.tf
  examples/resources/hcloud_storage_box/import-by-string-id.tf
  examples/resources/hcloud_storage_box/import.sh
  examples/resources/hcloud_storage_box/resource.tf
  internal/storagebox/data_source.go
  internal/storagebox/data_source_list.go
  internal/storagebox/data_source_list_test.go
  internal/storagebox/data_source_test.go
  internal/storagebox/model.go
  internal/storagebox/model_test.go
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
  internal/storagebox/testing.go
  internal/testdata/d/hcloud_storage_box.tf.tmpl
  internal/testdata/d/hcloud_storage_boxes.tf.tmpl
  internal/testdata/r/hcloud_storage_box.tf.tmpl
Due: opentofu_fmt, generate

docs(zone): wrong variable for import id (#1237)
  docs/resources/zone.md
  examples/resources/hcloud_zone/import-by-string-id.tf
Due: opentofu_fmt, generate

feat: add to plugin provider
  hcloud/plugin_provider.go
Due: generate

tmp
  internal/storagebox/model.go
Due: generate

feat: add `txt_record` helper function
  docs/functions/txt_record.md
  docs/resources/zone_rrset.md
  examples/functions/txt_record/function.tf
  examples/resources/hcloud_zone_rrset/resource.tf
  hcloud/plugin_provider.go
  internal/zonerrset/function_txt_record.go
  internal/zonerrset/function_txt_record_test.go
  internal/zonerrset/resource.go
Due: opentofu_fmt, generate

feat: add `txt_record` helper function (#1227)
  docs/functions/txt_record.md
  docs/resources/zone_rrset.md
  examples/functions/txt_record/function.tf
  examples/resources/hcloud_zone_rrset/resource.tf
  hcloud/plugin_provider.go
  internal/zonerrset/function_txt_record.go
  internal/zonerrset/function_txt_record_test.go
  internal/zonerrset/resource.go
Due: opentofu_fmt, generate

chore(main): release v1.55.0
  CHANGELOG.md
Due: none

wip
  internal/zonerecord/model.go
  internal/zonerecord/model_test.go
  internal/zonerecord/resource.go
  internal/zonerecord/resource_test.go
  internal/zonerecord/testing.go
Due: generate

wip
  internal/zonerecord/model.go
  internal/zonerecord/resource.go
Due: generate

test: fix hcloud_server_network alias_ips templating
  internal/testdata/r/hcloud_server_network.tf.tmpl
Due: none

refactor: move resource.hcloud_server_network to Plugin Framework
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
Due: generate

test: add TFID helper to server_network template data struct
  internal/server/testing.go
Due: generate

test: allow to order the creation of subnets
  internal/network/testing.go
  internal/testdata/r/hcloud_network_subnet.tf.tmpl
Due: generate

wip
  internal/server/resource_network.go
  internal/server/resource_network_test.go
Due: generate

feat: implementation
  docs/resources/server_network.md
  examples/resources/hcloud_server_network/resource.tf
  internal/server/common.go
  internal/server/resource_network.go
  internal/server/resource_network_test.go
  internal/util/strings.go
  internal/util/strings_test.go
  templates/resources/server_network.md.tmpl
Due: opentofu_fmt, generate

fix: improve error handling
  internal/server/resource_network.go
Due: generate

fixes
  internal/server/resource_network.go
Due: generate

test: improve hcloud_server_network test templates
  internal/server/testing.go
  internal/testdata/r/hcloud_server_network.tf.tmpl
Due: generate

test: improve `hcloud_server_network` test templates (#1240)
  internal/server/testing.go
  internal/testdata/r/hcloud_server_network.tf.tmpl
Due: generate

test: allow to order the creation of subnets (#1241)
  internal/network/testing.go
  internal/testdata/r/hcloud_network_subnet.tf.tmpl
Due: generate

test: add tests for intPtrToInt64Ptr
  internal/storageboxtype/model.go
  internal/storageboxtype/model_test.go
Due: generate

refactor: move resource.hcloud_server_network to Plugin Framework
  docs/resources/server_network.md
  examples/resources/hcloud_server_network/resource.tf
  go.mod
  go.sum
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
  internal/server/common.go
  internal/server/model.go
  internal/server/resource_network.go
  internal/server/resource_network_test.go
  internal/util/strings.go
  internal/util/strings_test.go
  internal/util/validateutil/ip.go
  internal/util/validateutil/ip_test.go
  templates/resources/server_network.md.tmpl
Due: opentofu_fmt, generate

chore(main): release v1.55.0 (#1229)
  CHANGELOG.md
Due: none

refactor: move resource.hcloud_server_network to Plugin Framework (#1244)
  docs/resources/server_network.md
  examples/resources/hcloud_server_network/resource.tf
  go.mod
  go.sum
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
  internal/server/common.go
  internal/server/model.go
  internal/server/resource_network.go
  internal/server/resource_network_test.go
  internal/util/strings.go
  internal/util/strings_test.go
  internal/util/validateutil/ip.go
  internal/util/validateutil/ip_test.go
  templates/resources/server_network.md.tmpl
Due: opentofu_fmt, generate
