Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.6.2]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|docs/.*)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--shell, bash]

  - repo: local
    hooks:
      - id: opentofu_fmt
        name: opentofu_fmt
        description: Format all .tf files to a canonical format.
        language: docker_image
        entry: ghcr.io/opentofu/opentofu fmt
        files: \.tf$

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: make generate
        pass_filenames: false
        files: (^examples/|\.go$)

feat(storageboxes): implement datasources
  docs/data-sources/storage_box.md
  docs/data-sources/storage_boxes.md
  examples/data-sources/hcloud_storage_box/data-source.tf
  examples/data-sources/hcloud_storage_boxes/data-source.tf
  hcloud/plugin_provider.go
  internal/storagebox/data_source.go
  internal/storagebox/data_source_list.go
  internal/storagebox/data_source_list_test.go
  internal/storagebox/data_source_test.go
  internal/storagebox/model.go
  internal/storagebox/model_test.go
  internal/storagebox/resource.go
  internal/storagebox/testing.go
Due: opentofu_fmt, generate

docs: generate
  docs/data-sources/storage_box.md
  docs/data-sources/storage_boxes.md
Due: none

chore: review feedback
  docs/data-sources/storage_box.md
  docs/data-sources/storage_boxes.md
  docs/resources/storage_box.md
  internal/storagebox/data_source.go
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
Due: generate

chore: remove outdated todos
  internal/storagebox/resource.go
Due: generate

chore: save id to state immediately
  internal/storagebox/resource.go
Due: generate

feat: remove comment on auto-generated password
  internal/storagebox/resource.go
Due: generate

feat: ignore ssh keys changes and show warning
  docs/resources/storage_box.md
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
Due: generate

fix: review feedback
  docs/data-sources/storage_box.md
  docs/data-sources/storage_boxes.md
  docs/resources/storage_box.md
  internal/storagebox/data_source.go
  internal/storagebox/data_source_list.go
  internal/storagebox/resource.go
Due: generate

refactor: make lb public interface function diagnostics aware
  internal/loadbalancer/resource_network.go
Due: generate

refactor: make lb public interface function diagnostics aware (#1267)
  internal/loadbalancer/resource_network.go
Due: generate

feat: migrate framework resources to use action settle util
  internal/loadbalancer/resource_network.go
  internal/server/resource_network.go
  internal/zone/resource.go
  internal/zonerrset/resource.go
Due: generate

feat: add utility to wait for all actions to settle and log nice error message
  internal/util/hcloudutil/actions.go
  internal/util/hcloudutil/actions_test.go
Due: generate

feat: handle cancelled/deadline context errors
  internal/util/hcloudutil/actions.go
  internal/util/hcloudutil/actions_test.go
Due: generate

refactor: add function to wait for all actions to settle (#1268)
  internal/loadbalancer/resource_network.go
  internal/server/resource_network.go
  internal/util/hcloudutil/actions.go
  internal/util/hcloudutil/actions_test.go
  internal/zone/resource.go
  internal/zonerrset/resource.go
Due: generate

feat: add support for Hetzner API endpoint (#1167)
  docs/index.md
  hcloud/plugin_provider.go
  hcloud/provider.go
  templates/index.md.tmpl
Due: generate

feat(storage-box): implement storage box type datasource (#1234)
  docs/data-sources/storage_box_type.md
  docs/data-sources/storage_box_types.md
  examples/data-sources/hcloud_storage_box_type/data-source.tf
  examples/data-sources/hcloud_storage_box_types/data-source.tf
  hcloud/plugin_provider.go
  internal/storageboxtype/data_source.go
  internal/storageboxtype/data_source_list.go
  internal/storageboxtype/data_source_list_test.go
  internal/storageboxtype/data_source_test.go
  internal/storageboxtype/model.go
  internal/storageboxtype/model_test.go
  internal/storageboxtype/testing.go
  internal/testdata/d/hcloud_storage_box_type.tf.tmpl
  internal/testdata/d/hcloud_storage_box_types.tf.tmpl
  internal/util/experimental/experimental.go
Due: opentofu_fmt, generate

feat(storage-box): implement storage box resource and datasources (#1250)
  docs/data-sources/storage_box.md
  docs/data-sources/storage_boxes.md
  docs/resources/storage_box.md
  examples/data-sources/hcloud_storage_box/data-source.tf
  examples/data-sources/hcloud_storage_boxes/data-source.tf
  examples/resources/hcloud_storage_box/import-by-string-id.tf
  examples/resources/hcloud_storage_box/import.sh
  examples/resources/hcloud_storage_box/resource.tf
  hcloud/plugin_provider.go
  internal/storagebox/data_source.go
  internal/storagebox/data_source_list.go
  internal/storagebox/data_source_list_test.go
  internal/storagebox/data_source_test.go
  internal/storagebox/model.go
  internal/storagebox/model_test.go
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
  internal/storagebox/testing.go
  internal/testdata/d/hcloud_storage_box.tf.tmpl
  internal/testdata/d/hcloud_storage_boxes.tf.tmpl
  internal/testdata/r/hcloud_storage_box.tf.tmpl
  internal/teste2e/testing.go
  internal/testsupport/check2.go
Due: opentofu_fmt, generate

feat(storage-box): add actions to hcloud_storage_box resource
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
Due: generate

feat(storage-box): add actions to hcloud_storage_box resource (#1251)
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
Due: generate

ci: update support terraform version matrix
  .github/workflows/test.yml
Due: prettier

test(server): improve coverage
  internal/server/resource_network_test.go
  internal/server/resource_test.go
Due: generate

test(server): tests toggling the server rescue
  internal/server/resource_test.go
  internal/server/testing.go
  internal/testdata/r/hcloud_server.tf.tmpl
Due: generate

test: add client logs in testsupport.CreateClient
  internal/testsupport/client.go
Due: generate

test(server): test deletion with `shutdown_before_deletion`
  internal/server/resource_test.go
  internal/server/testing.go
  internal/testdata/r/hcloud_server.tf.tmpl
Due: generate

test(server): test server update in both directions
  internal/server/resource_test.go
Due: generate

test: ensure iso is attached with update
  internal/server/resource_test.go
Due: generate

chore: server network was already migrated
  internal/server/resource_network_test.go
Due: generate

style: move code around
  internal/server/resource_test.go
Due: generate

test(server): ensure resource action
  internal/server/resource_test.go
Due: generate

ci: update support terraform version matrix (#1269)
  .github/workflows/test.yml
Due: prettier

chore(main): release v1.57.0
  CHANGELOG.md
Due: none

test(server): improve public net config test coverage
  internal/server/resource.go
  internal/server/resource_test.go
Due: generate

feat(storage-box): implement snapshot resource and datasources
  docs/data-sources/storage_box_snapshot.md
  docs/data-sources/storage_box_snapshots.md
  docs/resources/storage_box_snapshot.md
  examples/data-sources/hcloud_storage_box_snapshot/data-source.tf
  examples/data-sources/hcloud_storage_box_snapshots/data-source.tf
  examples/resources/hcloud_storage_box_snapshot/import-by-string-id.tf
  examples/resources/hcloud_storage_box_snapshot/import.sh
  examples/resources/hcloud_storage_box_snapshot/resource.tf
  hcloud/plugin_provider.go
  internal/storagebox/data_source_list_test.go
  internal/storagebox/data_source_test.go
  internal/storagebox/resource_test.go
  internal/storagebox/testing.go
  internal/storageboxsnapshot/data_source.go
  internal/storageboxsnapshot/data_source_list.go
  internal/storageboxsnapshot/data_source_list_test.go
  internal/storageboxsnapshot/data_source_test.go
  internal/storageboxsnapshot/model.go
  internal/storageboxsnapshot/model_test.go
  internal/storageboxsnapshot/resource.go
  internal/storageboxsnapshot/resource_test.go
  internal/storageboxsnapshot/testing.go
  internal/testdata/d/hcloud_storage_box_snapshot.tf.tmpl
  internal/testdata/d/hcloud_storage_box_snapshots.tf.tmpl
  internal/testdata/r/hcloud_storage_box_snapshot.tf.tmpl
  internal/testsupport/check2.go
Due: opentofu_fmt, generate

test(server): improve test coverage (#1270)
  internal/server/resource_test.go
  internal/server/testing.go
  internal/testdata/r/hcloud_server.tf.tmpl
  internal/testsupport/client.go
Due: generate

test: fix broken import state test
  internal/storagebox/resource_test.go
Due: generate

test: add testtemplate.DeepCopy helper
  internal/server/resource_test.go
  internal/testtemplate/copy.go
Due: generate

test: add testtemplate.DeepCopy helper (#1273)
  internal/server/resource_test.go
  internal/testtemplate/copy.go
Due: generate

style: do not print 4 new lines when action error message is empty
  internal/util/hcloudutil/actions.go
  internal/util/hcloudutil/actions_test.go
Due: generate

docs: add example for snapshot resource
  docs/resources/storage_box_snapshot.md
  examples/resources/hcloud_storage_box_snapshot/resource.tf
Due: opentofu_fmt, generate

docs: fix invalid name
  docs/resources/storage_box_snapshot.md
  internal/storageboxsnapshot/resource.go
Due: generate
