Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.6.2]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|docs/.*)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--shell, bash]

  - repo: local
    hooks:
      - id: opentofu_fmt
        name: opentofu_fmt
        description: Format all .tf files to a canonical format.
        language: docker_image
        entry: ghcr.io/opentofu/opentofu fmt
        files: \.tf$

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: make generate
        pass_filenames: false
        files: (^examples/|\.go$)

test: enable parallel test for remaining serial test
  internal/firewall/attachment_resource_test.go
  internal/firewall/data_source_test.go
  internal/firewall/resource_test.go
  internal/rdns/resource_test.go
  internal/server/resource_test.go
Due: generate

test: enable parallel test for remaining serial test (#1200)
  internal/firewall/attachment_resource_test.go
  internal/firewall/data_source_test.go
  internal/firewall/resource_test.go
  internal/rdns/resource_test.go
  internal/server/resource_test.go
Due: generate

ci: update action
  .github/workflows/lint.yml
Due: prettier

chore: update golangci config
  .golangci.yaml
Due: prettier

refactor: fix linting errors
  internal/firewall/resource.go
  internal/loadbalancer/resource.go
  internal/server/resource.go
Due: generate

preserve comment
  .golangci.yaml
Due: prettier

ci: use go-version-file
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier

test: fix message
  internal/server/resource_test.go
Due: generate

chore: go mod tidy
  go.mod
  go.sum
Due: none

chore: go mod tidy (#1208)
  go.mod
  go.sum
Due: none

deps: update module github.com/hetznercloud/hcloud-go/v2 to v2.27.0
  go.mod
  go.sum
Due: none

deps: update module github.com/hetznercloud/hcloud-go/v2 to v2.27.0 (#1209)
  go.mod
  go.sum
Due: none

chore(main): release v1.54.0
  CHANGELOG.md
Due: none

chore(main): release v1.54.0 (#1211)
  CHANGELOG.md
Due: none

test: sort server type locations by id
  internal/servertype/data_source_test.go
Due: generate

test: sort server type locations by id (#1216)
  internal/servertype/data_source_test.go
Due: generate

test: update server type expected values
  internal/servertype/data_source_test.go
Due: generate

test: update server type expected values (#1219)
  internal/servertype/data_source_test.go
Due: generate

test: add TFID helper to server_network template data struct
  internal/server/testing.go
Due: generate

tmp: use hcloud-go dev branch
  go.mod
  go.sum
Due: none

refactor: move resource.hcloud_server_network to Plugin Framework
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
Due: generate

test: fix hcloud_server_network alias_ips templating
  internal/testdata/r/hcloud_server_network.tf.tmpl
Due: none

fix: improve error handling
  internal/server/resource_network.go
Due: generate

feat: implementation
  docs/resources/server_network.md
  examples/resources/hcloud_server_network/resource.tf
  internal/server/common.go
  internal/server/resource_network.go
  internal/server/resource_network_test.go
  internal/util/strings.go
  internal/util/strings_test.go
  templates/resources/server_network.md.tmpl
Due: opentofu_fmt, generate

test: allow to order the creation of subnets
  internal/network/testing.go
  internal/testdata/r/hcloud_network_subnet.tf.tmpl
Due: generate

wip
  internal/server/resource_network.go
  internal/server/resource_network_test.go
Due: generate

fix: remove unused api error code
  internal/firewall/attachment_resource.go
Due: generate

fix: manage SOA records using `hcloud_zone_rrset` resource
  docs/resources/zone_rrset.md
  examples/resources/hcloud_zone_rrset/resource.tf
  internal/zonerrset/resource.go
  internal/zonerrset/resource_test.go
Due: opentofu_fmt, generate

Update docs/resources/zone_rrset.md
  docs/resources/zone_rrset.md
  internal/zonerrset/resource.go
Due: generate

feat: support managing records of type SOA (#1225)
  docs/resources/zone_rrset.md
  examples/resources/hcloud_zone_rrset/resource.tf
  internal/zonerrset/resource.go
  internal/zonerrset/resource_test.go
Due: opentofu_fmt, generate

feat(firewall): importing firewall attachments
  docs/resources/firewall_attachment.md
  examples/resources/hcloud_firewall_attachment/import.sh
  internal/firewall/attachment_resource.go
  internal/firewall/attachment_resource_test.go
  templates/resources/firewall_attachment.md.tmpl
Due: generate

feat(firewall): importing firewall attachments (#1231)
  docs/resources/firewall_attachment.md
  examples/resources/hcloud_firewall_attachment/import.sh
  internal/firewall/attachment_resource.go
  internal/firewall/attachment_resource_test.go
  templates/resources/firewall_attachment.md.tmpl
Due: generate

fix(load-balancer): mark health check retries as required
  docs/resources/load_balancer_service.md
  internal/loadbalancer/resource_service.go
  templates/resources/load_balancer_service.md.tmpl
Due: generate

test: update server type and location
  internal/teste2e/testing.go
Due: generate

test: update data source tests
  internal/servertype/data_source_test.go
Due: generate

docs: update old os images
  docs/data-sources/datacenters.md
  docs/data-sources/locations.md
  docs/data-sources/primary_ip.md
  docs/data-sources/server_type.md
  docs/resources/firewall.md
  docs/resources/firewall_attachment.md
  docs/resources/floating_ip.md
  docs/resources/floating_ip_assignment.md
  docs/resources/load_balancer.md
  docs/resources/load_balancer_target.md
  docs/resources/placement_group.md
  docs/resources/primary_ip.md
  docs/resources/rdns.md
  docs/resources/server.md
  docs/resources/server_network.md
  docs/resources/snapshot.md
  docs/resources/volume.md
  docs/resources/volume_attachment.md
  examples/data-sources/hcloud_primary_ip/data-source.tf
  examples/resources/hcloud_firewall/resource.tf
  examples/resources/hcloud_firewall_attachment/example_1.tf
  examples/resources/hcloud_firewall_attachment/example_2.tf
  examples/resources/hcloud_firewall_attachment/example_3.tf
  examples/resources/hcloud_floating_ip/resource.tf
  examples/resources/hcloud_floating_ip_assignment/resource.tf
  examples/resources/hcloud_load_balancer/resource.tf
  examples/resources/hcloud_load_balancer_target/resource.tf
  examples/resources/hcloud_placement_group/resource.tf
  examples/resources/hcloud_primary_ip/resource.tf
  examples/resources/hcloud_rdns/example_1.tf
  examples/resources/hcloud_server/example_1.tf
  examples/resources/hcloud_server/example_2.tf
  examples/resources/hcloud_server/example_3.tf
  examples/resources/hcloud_server_network/resource.tf
  examples/resources/hcloud_snapshot/resource.tf
  examples/resources/hcloud_volume/resource.tf
  examples/resources/hcloud_volume_attachment/resource.tf
  templates/resources/firewall_attachment.md.tmpl
  templates/resources/rdns.md.tmpl
  templates/resources/server.md.tmpl
Due: opentofu_fmt, generate
