Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.6.2]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|docs/.*)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--shell, bash]

  - repo: local
    hooks:
      - id: opentofu_fmt
        name: opentofu_fmt
        description: Format all .tf files to a canonical format.
        language: docker_image
        entry: ghcr.io/opentofu/opentofu fmt
        files: \.tf$

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: make generate
        pass_filenames: false
        files: (^examples/|\.go$)

feat(storage-box): implement subaccount resource and data sources
  docs/data-sources/storage_box_subaccount.md
  docs/data-sources/storage_box_subaccounts.md
  docs/resources/storage_box_subaccount.md
  examples/data-sources/hcloud_storage_box_subaccount/data-source.tf
  examples/data-sources/hcloud_storage_box_subaccounts/data-source.tf
  examples/resources/hcloud_storage_box_subaccount/import-by-string-id.tf
  examples/resources/hcloud_storage_box_subaccount/import.sh
  examples/resources/hcloud_storage_box_subaccount/resource.tf
  hcloud/plugin_provider.go
  internal/storageboxsubaccount/data_source.go
  internal/storageboxsubaccount/data_source_list.go
  internal/storageboxsubaccount/data_source_list_test.go
  internal/storageboxsubaccount/data_source_test.go
  internal/storageboxsubaccount/model.go
  internal/storageboxsubaccount/model_test.go
  internal/storageboxsubaccount/resource.go
  internal/storageboxsubaccount/resource_test.go
  internal/storageboxsubaccount/testing.go
  internal/testdata/d/hcloud_storage_box_subaccount.tf.tmpl
  internal/testdata/d/hcloud_storage_box_subaccounts.tf.tmpl
  internal/testdata/r/hcloud_storage_box_subaccount.tf.tmpl
Due: opentofu_fmt, generate

feat(storage-box): Implement subaccount actions
  internal/storageboxsubaccount/resource.go
  internal/storageboxsubaccount/resource_test.go
Due: generate

style: do not print 4 new lines when action error message is empty (#1275)
  internal/util/hcloudutil/actions.go
  internal/util/hcloudutil/actions_test.go
Due: generate

feat(server): add subnet_id support
  docs/resources/server.md
  internal/server/common.go
  internal/server/resource.go
  internal/server/resource_network.go
  internal/server/resource_test.go
  internal/server/testing.go
  internal/testdata/r/hcloud_server.tf.tmpl
Due: generate

chore: review feedback
  docs/data-sources/storage_box_snapshot.md
  docs/data-sources/storage_box_snapshots.md
  docs/resources/storage_box_snapshot.md
  examples/data-sources/hcloud_storage_box_snapshot/data-source.tf
  examples/data-sources/hcloud_storage_box_snapshots/data-source.tf
  examples/resources/hcloud_storage_box_snapshot/resource.tf
  internal/storagebox/resource_test.go
  internal/storageboxsnapshot/data_source.go
  internal/storageboxsnapshot/data_source_list.go
  internal/storageboxsnapshot/data_source_test.go
  internal/storageboxsnapshot/model.go
  internal/storageboxsnapshot/model_test.go
  internal/storageboxsnapshot/resource.go
  internal/storageboxsnapshot/resource_test.go
  internal/testdata/d/hcloud_storage_box_snapshot.tf.tmpl
  internal/testdata/d/hcloud_storage_box_snapshots.tf.tmpl
  internal/testdata/r/hcloud_storage_box_snapshot.tf.tmpl
Due: opentofu_fmt, generate

style: spread action detail on multiple lines in timeout error
  internal/util/hcloudutil/actions.go
  internal/util/hcloudutil/actions_test.go
Due: generate

fix: various places i messed up the storage_box_id attribute rename
  internal/storageboxsnapshot/data_source_list.go
  internal/storageboxsnapshot/model.go
  internal/storageboxsnapshot/resource.go
  internal/storageboxsnapshot/testing.go
Due: generate

docs: generate
  docs/resources/storage_box_snapshot.md
Due: none

style: spread action detail on multiple lines in timeout error (#1280)
  internal/util/hcloudutil/actions.go
  internal/util/hcloudutil/actions_test.go
Due: generate

docs(server): recommend subnet_id for network attachment
  docs/resources/server.md
Due: none

refactor: add common labels schema for datasources
  internal/sshkey/data_source.go
  internal/util/datasourceutil/labels.go
  internal/zone/data_source.go
  internal/zonerrset/data_source.go
Due: generate

feat(server): add oneOf validation for network_id and subnet_id
  docs/resources/server.md
  internal/server/resource.go
  internal/server/resource_test.go
Due: generate

docs(server): fix typos in network attachment example
  docs/resources/server.md
Due: none

refactor: add common labels schema for datasources (#1281)
  internal/sshkey/data_source.go
  internal/util/datasourceutil/labels.go
  internal/zone/data_source.go
  internal/zonerrset/data_source.go
Due: generate

feat: add support for Hetzner API endpoint (#1167)
  docs/index.md
  hcloud/plugin_provider.go
  hcloud/provider.go
  templates/index.md.tmpl
Due: generate

feat(storage-box): implement storage box type datasource (#1234)
  docs/data-sources/storage_box_type.md
  docs/data-sources/storage_box_types.md
  examples/data-sources/hcloud_storage_box_type/data-source.tf
  examples/data-sources/hcloud_storage_box_types/data-source.tf
  hcloud/plugin_provider.go
  internal/storageboxtype/data_source.go
  internal/storageboxtype/data_source_list.go
  internal/storageboxtype/data_source_list_test.go
  internal/storageboxtype/data_source_test.go
  internal/storageboxtype/model.go
  internal/storageboxtype/model_test.go
  internal/storageboxtype/testing.go
  internal/testdata/d/hcloud_storage_box_type.tf.tmpl
  internal/testdata/d/hcloud_storage_box_types.tf.tmpl
  internal/util/experimental/experimental.go
Due: opentofu_fmt, generate

feat(storage-box): implement storage box resource and datasources (#1250)
  docs/data-sources/storage_box.md
  docs/data-sources/storage_boxes.md
  docs/resources/storage_box.md
  examples/data-sources/hcloud_storage_box/data-source.tf
  examples/data-sources/hcloud_storage_boxes/data-source.tf
  examples/resources/hcloud_storage_box/import-by-string-id.tf
  examples/resources/hcloud_storage_box/import.sh
  examples/resources/hcloud_storage_box/resource.tf
  hcloud/plugin_provider.go
  internal/storagebox/data_source.go
  internal/storagebox/data_source_list.go
  internal/storagebox/data_source_list_test.go
  internal/storagebox/data_source_test.go
  internal/storagebox/model.go
  internal/storagebox/model_test.go
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
  internal/storagebox/testing.go
  internal/testdata/d/hcloud_storage_box.tf.tmpl
  internal/testdata/d/hcloud_storage_boxes.tf.tmpl
  internal/testdata/r/hcloud_storage_box.tf.tmpl
  internal/teste2e/testing.go
  internal/testsupport/check2.go
Due: opentofu_fmt, generate

feat(storage-box): add actions to hcloud_storage_box resource (#1251)
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
Due: generate

feat(storage-box): implement snapshot resource and datasources (#1272)
  docs/data-sources/storage_box_snapshot.md
  docs/data-sources/storage_box_snapshots.md
  docs/resources/storage_box_snapshot.md
  examples/data-sources/hcloud_storage_box_snapshot/data-source.tf
  examples/data-sources/hcloud_storage_box_snapshots/data-source.tf
  examples/resources/hcloud_storage_box_snapshot/import-by-string-id.tf
  examples/resources/hcloud_storage_box_snapshot/import.sh
  examples/resources/hcloud_storage_box_snapshot/resource.tf
  hcloud/plugin_provider.go
  internal/storagebox/data_source_list_test.go
  internal/storagebox/data_source_test.go
  internal/storagebox/resource_test.go
  internal/storagebox/testing.go
  internal/storageboxsnapshot/data_source.go
  internal/storageboxsnapshot/data_source_list.go
  internal/storageboxsnapshot/data_source_list_test.go
  internal/storageboxsnapshot/data_source_test.go
  internal/storageboxsnapshot/model.go
  internal/storageboxsnapshot/model_test.go
  internal/storageboxsnapshot/resource.go
  internal/storageboxsnapshot/resource_test.go
  internal/storageboxsnapshot/testing.go
  internal/testdata/d/hcloud_storage_box_snapshot.tf.tmpl
  internal/testdata/d/hcloud_storage_box_snapshots.tf.tmpl
  internal/testdata/r/hcloud_storage_box_snapshot.tf.tmpl
  internal/testsupport/check2.go
Due: opentofu_fmt, generate

feat(storage-box): implement subaccount resource and data sources (#1276)
  docs/data-sources/storage_box_subaccount.md
  docs/data-sources/storage_box_subaccounts.md
  docs/resources/storage_box_subaccount.md
  examples/data-sources/hcloud_storage_box_subaccount/data-source.tf
  examples/data-sources/hcloud_storage_box_subaccounts/data-source.tf
  examples/resources/hcloud_storage_box_subaccount/import-by-string-id.tf
  examples/resources/hcloud_storage_box_subaccount/import.sh
  examples/resources/hcloud_storage_box_subaccount/resource.tf
  hcloud/plugin_provider.go
  internal/storageboxsubaccount/data_source.go
  internal/storageboxsubaccount/data_source_list.go
  internal/storageboxsubaccount/data_source_list_test.go
  internal/storageboxsubaccount/data_source_test.go
  internal/storageboxsubaccount/model.go
  internal/storageboxsubaccount/model_test.go
  internal/storageboxsubaccount/resource.go
  internal/storageboxsubaccount/resource_test.go
  internal/storageboxsubaccount/testing.go
  internal/testdata/d/hcloud_storage_box_subaccount.tf.tmpl
  internal/testdata/d/hcloud_storage_box_subaccounts.tf.tmpl
  internal/testdata/r/hcloud_storage_box_subaccount.tf.tmpl
Due: opentofu_fmt, generate

feat(storage-box): Implement subaccount actions (#1277)
  internal/storageboxsubaccount/resource.go
  internal/storageboxsubaccount/resource_test.go
Due: generate

docs: add experimental tracker issue link
  docs/data-sources/storage_box.md
  docs/data-sources/storage_box_snapshot.md
  docs/data-sources/storage_box_snapshots.md
  docs/data-sources/storage_box_subaccount.md
  docs/data-sources/storage_box_subaccounts.md
  docs/data-sources/storage_box_type.md
  docs/data-sources/storage_box_types.md
  docs/data-sources/storage_boxes.md
  docs/resources/storage_box.md
  docs/resources/storage_box_snapshot.md
  docs/resources/storage_box_subaccount.md
  internal/util/experimental/experimental.go
Due: generate

fix: longer wait period
  internal/storageboxsnapshot/resource.go
  internal/storageboxsubaccount/resource.go
Due: generate

fix(storage-box): retry snapshot+subaccount create when locked
  internal/storageboxsnapshot/data_source_list_test.go
  internal/storageboxsnapshot/resource.go
  internal/storageboxsubaccount/data_source_list_test.go
  internal/storageboxsubaccount/resource.go
Due: generate

fix: review feedback
  docs/data-sources/storage_box_subaccount.md
  examples/data-sources/hcloud_storage_box_subaccount/data-source.tf
  internal/storagebox/resource.go
Due: opentofu_fmt, generate

chore(main): release v1.57.0
  CHANGELOG.md
Due: none

chore(main): release v1.57.0 (#1254)
  CHANGELOG.md
Due: none

ci: remove stale bot workflow
  .github/workflows/stale.yml
Due: prettier

ci: remove stale bot workflow (#1293)
  .github/workflows/stale.yml
Due: prettier
