Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.6.2]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|docs/.*)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--shell, bash]

  - repo: local
    hooks:
      - id: opentofu_fmt
        name: opentofu_fmt
        description: Format all .tf files to a canonical format.
        language: docker_image
        entry: ghcr.io/opentofu/opentofu fmt
        files: \.tf$

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: make generate
        pass_filenames: false
        files: (^examples/|\.go$)

tests: add plan check to zone_record resource (#1506)
  internal/zonerecord/resource_test.go
Due: generate

fix(zone_record): set identity after read/update
  internal/zonerecord/resource.go
Due: generate

test: add regression test
  internal/zonerecord/resource_test.go
Due: generate

fix(zone_record): set identity after read/update (#1507)
  internal/zonerecord/resource.go
  internal/zonerecord/resource_test.go
Due: generate

chore(main): release v1.67.1
  CHANGELOG.md
Due: none

chore: simplify config
  renovate.json
Due: none

feat(load_balancer_type): add deprecation details and warnings
  docs/data-sources/load_balancer_type.md
  docs/data-sources/load_balancer_types.md
  internal/deprecation/deprecation_plugin.go
  internal/deprecation/deprecation_plugin_test.go
  internal/loadbalancertype/data_source.go
  internal/loadbalancertype/data_source_test.go
  internal/servertype/data_source.go
  internal/storageboxtype/model.go
Due: generate

feat(load_balancer_type): add deprecation details and warnings (#1512)
  docs/data-sources/load_balancer_type.md
  docs/data-sources/load_balancer_types.md
  internal/deprecation/deprecation_plugin.go
  internal/deprecation/deprecation_plugin_test.go
  internal/loadbalancertype/data_source.go
  internal/loadbalancertype/data_source_test.go
  internal/servertype/data_source.go
  internal/storageboxtype/model.go
Due: generate

chore(main): release v1.68.0
  CHANGELOG.md
Due: none

chore(main): release v1.68.0 (#1508)
  CHANGELOG.md
Due: none

feat(load-balancer): add service data source
  docs/data-sources/load_balancer_service.md
  docs/data-sources/load_balancer_services.md
  hcloud/provider.go
  internal/loadbalancer/data_source.go
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/resource_service.go
Due: generate

add service list
  docs/data-sources/load_balancer_services.md
  hcloud/plugin_provider.go
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/data_source_service_list.go
  internal/loadbalancer/model.go
Due: generate

use plugin framework
  docs/data-sources/load_balancer_service.md
  docs/data-sources/load_balancer_services.md
  hcloud/plugin_provider.go
  hcloud/provider.go
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/model.go
Due: generate

fix int32 cast
  internal/loadbalancer/model.go
  internal/util/id.go
Due: generate

unneeded config validation
  internal/loadbalancer/data_source_service_list.go
Due: generate

remove `id` from service list schema
  docs/data-sources/load_balancer_services.md
  internal/loadbalancer/data_source_service_list.go
Due: generate

remove CastInt32
  internal/loadbalancer/model.go
  internal/util/id.go
Due: generate

update model
  internal/loadbalancer/model.go
Due: generate

certificates -> certificate_ids
  docs/data-sources/load_balancer_service.md
  docs/data-sources/load_balancer_services.md
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/model.go
Due: generate

fix diagnostic resourceName
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/data_source_service_list.go
Due: generate

make load_balancer_id/listen_port required
  docs/data-sources/load_balancer_service.md
  internal/loadbalancer/data_source_service.go
Due: generate

add markdown descriptions
  docs/data-sources/load_balancer_service.md
  docs/data-sources/load_balancer_services.md
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/data_source_service_list.go
Due: generate

undo resource_service.go changes
  internal/loadbalancer/resource_service.go
Due: generate

style: move parent id at the top
  internal/loadbalancer/model.go
Due: generate

style: wording
  docs/data-sources/load_balancer_service.md
  docs/data-sources/load_balancer_services.md
  internal/loadbalancer/data_source_service.go
Due: generate

style: reorder required attrs at the top
  internal/loadbalancer/data_source_service.go
Due: generate

style: use ListValueFrom
  internal/loadbalancer/model.go
Due: generate

chore: yeet comment
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/data_source_service_list.go
Due: generate

populate null objects
  internal/loadbalancer/model.go
Due: generate

fix
  internal/loadbalancer/model.go
Due: generate

do not fetch service by id
  internal/loadbalancer/data_source_service.go
Due: generate

use slices.IndexFunc for finding service by ListenPort
  internal/loadbalancer/data_source_service.go
Due: generate

remove unneeded slice conversion
  internal/loadbalancer/data_source_service_list.go
Due: generate

add tests
  internal/loadbalancer/data_source_service_list_test.go
  internal/loadbalancer/data_source_service_test.go
  internal/loadbalancer/testing.go
  internal/testdata/d/hcloud_load_balancer_service.tf.tmpl
  internal/testdata/d/hcloud_load_balancer_services.tf.tmpl
Due: generate

ci: allow checkout arbitrary refs
  .github/workflows/test.yml
Due: prettier

ci: added actions and goreleaser for fork
  .github/workflows/cut-fork-release.yml
  .github/workflows/sync-upstream.yml
  .goreleaser.yml
  MAINTAINING.md
  main.go
  scripts/cut-fork-tag.sh
  scripts/sync-branch.sh
Due: prettier, generate

ci: added actions and goreleaser for fork
  .github/workflows/build.yml
  .github/workflows/cut-fork-release.yml
  MAINTAINING.md
  scripts/cut-fork-tag.sh
Due: prettier

ci: allow checkout arbitrary refs (#1514)
  .github/workflows/test.yml
Due: prettier

feat(storage_box): support write-only password attributes
  docs/resources/storage_box.md
  docs/resources/storage_box_subaccount.md
  examples/resources/hcloud_storage_box/resource.tf
  examples/resources/hcloud_storage_box_subaccount/resource.tf
  internal/storagebox/resource.go
  internal/storagebox/resource_test.go
  internal/storagebox/testing.go
  internal/storageboxsubaccount/resource.go
  internal/storageboxsubaccount/resource_test.go
  internal/storageboxsubaccount/testing.go
  internal/testdata/r/hcloud_storage_box.tf.tmpl
  internal/testdata/r/hcloud_storage_box_subaccount.tf.tmpl
Due: opentofu_fmt, generate
