Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.6.2

opentofu_fmt:
  name: opentofu_fmt
  description: Format all .tf files to a canonical format.
  language: docker_image
  entry: ghcr.io/opentofu/opentofu fmt

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: make generate
  pass_filenames: false

feat(primary-ip): assignee_type attribute is now optional
  docs/resources/primary_ip.md
  examples/resources/hcloud_primary_ip/resource.tf
  internal/primaryip/data_source_test.go
  internal/primaryip/helpers.go
  internal/primaryip/resource.go
  internal/primaryip/resource_test.go
  internal/rdns/resource_test.go
  internal/server/resource.go
  internal/server/resource_test.go
Due: opentofu_fmt, generate

tmp: use dev branch
  go.mod
  go.sum
Due: none

fix: include response correlation id in api error diagnostics
  internal/primaryip/resource_test.go
  internal/util/hcloudutil/error_framework.go
  internal/util/hcloudutil/error_framework_test.go
Due: generate

fix: update logic for assign and unassign
  internal/primaryip/resource.go
Due: generate

test: fixup tests
  internal/primaryip/data_source_list_test.go
  internal/primaryip/data_source_test.go
  internal/primaryip/resource_test.go
Due: generate

tidy
  go.sum
Due: none

deps: bump hc-install to v0.9.4
  go.mod
  go.sum
Due: none

fix lint
  .golangci.yaml
Due: prettier

feat(datacenter, server_type): move available and recommended to server_type
  internal/datacenter/data_source.go
  internal/servertype/data_source.go
  internal/servertype/data_source_test.go
Due: generate

apply suggestions
  internal/servertype/data_source.go
  internal/servertype/data_source_test.go
Due: generate

generate docs
  docs/data-sources/datacenter.md
  docs/data-sources/datacenters.md
  docs/data-sources/server_type.md
  docs/data-sources/server_types.md
Due: none

style: wording
  internal/datacenter/data_source.go
Due: generate

chore(main): release v1.61.0
  CHANGELOG.md
Due: none

add acceptance test
  internal/firewall/resource_test.go
  internal/testdata/r/hcloud_firewall.tf.tmpl
Due: generate

follow convention in the test function name
  internal/firewall/resource_test.go
Due: generate

fix: do not ignore not found error during remove resource
  internal/firewall/resource.go
  internal/firewall/resource_test.go
Due: generate

include unused ErrorCodeFirewallResourceNotFound error
  internal/firewall/resource.go
Due: generate

skip removed firewall resource
  internal/firewall/resource.go
Due: generate

refactor(server): defer network_id deprecation, guard network_id casting, add subnet_id E2E tests
  docs/resources/server.md
  internal/server/resource.go
  internal/server/resource_test.go
  templates/resources/server.md.tmpl
Due: generate

deps: update module github.com/hetznercloud/hcloud-go/v2 to v2.39.0
  go.mod
  go.sum
Due: none

test: require attribute in previous version
  internal/primaryip/data_source_test.go
Due: generate

chore(main): release v1.62.0
  CHANGELOG.md
Due: none

wip
  internal/primaryip/data_source_list_test.go
  internal/primaryip/data_source_test.go
  internal/primaryip/resource_test.go
Due: generate

chore(main): release v1.63.0
  CHANGELOG.md
Due: none

docs(s3): Add reference to S3 guide
  templates/guides/s3-object-storage.md
Due: prettier

cleanup
  internal/storagebox/testing.go
Due: generate

feat(load-balancer): support `timeout-idle` http service field
  docs/resources/load_balancer_service.md
  internal/loadbalancer/resource_service.go
  internal/loadbalancer/resource_service_test.go
  internal/loadbalancer/testing.go
  internal/testdata/r/hcloud_load_balancer_service.tf.tmpl
  templates/resources/load_balancer_service.md.tmpl
Due: generate

docs(load-balancer): regenerate
  docs/resources/load_balancer_service.md
Due: none

chore: go mod tidy
  go.sum
Due: none

chore(main): release v1.63.0 (#1400)
  CHANGELOG.md
Due: none

feat: Add declarative power management for hcloud_server
  docs/resources/server_power_state.md
  examples/resources/hcloud_server_power_state/import.sh
  examples/resources/hcloud_server_power_state/resource.tf
  hcloud/provider.go
  hcloud/provider_test.go
  internal/server/resource.go
  internal/server/resource_power_state.go
  internal/server/testing.go
  internal/testdata/r/hcloud_server_power_state.tf.tmpl
  templates/resources/server_power_state.md.tmpl
Due: opentofu_fmt, generate

fix: add title and remove name of third-party provider
  templates/guides/s3-object-storage.md
Due: prettier

chore: run make generate
  docs/guides/s3-object-storage.md
Due: none

docs(s3): Add reference to S3 guide (#1402)
  docs/guides/s3-object-storage.md
  templates/guides/s3-object-storage.md
Due: prettier

feat(load-balancer): support `timeout-idle` http service field
  docs/resources/load_balancer_service.md
  internal/loadbalancer/data_source.go
  internal/loadbalancer/resource_service.go
  internal/loadbalancer/resource_service_test.go
  internal/loadbalancer/testing.go
  internal/testdata/r/hcloud_load_balancer_service.tf.tmpl
  templates/resources/load_balancer_service.md.tmpl
Due: generate

Path conditions:
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|docs/.*)$
  opentofu_fmt: any of: \.tf$
  generate: any of: (^examples/|\.go$)
