Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.6.2]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|docs/.*)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--shell, bash]

  - repo: local
    hooks:
      - id: opentofu_fmt
        name: opentofu_fmt
        description: Format all .tf files to a canonical format.
        language: docker_image
        entry: ghcr.io/opentofu/opentofu fmt
        files: \.tf$

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: make generate
        pass_filenames: false
        files: (^examples/|\.go$)

docs(load-balancer): regenerate
  docs/resources/load_balancer_service.md
Due: none

feat(load-balancer): support `timeout_idle` http service attribute (#1398)
  docs/resources/load_balancer_service.md
  internal/loadbalancer/data_source.go
  internal/loadbalancer/resource_service.go
  internal/loadbalancer/resource_service_test.go
  internal/loadbalancer/testing.go
  internal/testdata/r/hcloud_load_balancer_service.tf.tmpl
  templates/resources/load_balancer_service.md.tmpl
Due: generate

wip
  internal/loadbalancer/data_source.go
  internal/loadbalancer/resource.go
  internal/loadbalancer/resource_service.go
Due: generate

test: invalid api resource name as tf resource name
  internal/loadbalancer/data_source_test.go
  internal/loadbalancer/resource_service_test.go
  internal/loadbalancer/testing.go
  internal/testdata/r/hcloud_load_balancer.tf.tmpl
  internal/testdata/r/hcloud_load_balancer_network.tf.tmpl
  internal/testdata/r/hcloud_load_balancer_service.tf.tmpl
  internal/testdata/r/hcloud_load_balancer_target.tf.tmpl
  internal/testdata/r/hcloud_server_network.tf.tmpl
Due: generate

test: add GetAPIResource for floatingip, primaryip and loadbalancer
  internal/floatingip/testing.go
  internal/loadbalancer/testing.go
  internal/primaryip/testing.go
Due: generate

test: use TFID over hz resource name
  internal/loadbalancer/resource_service_test.go
  internal/loadbalancer/resource_target_test.go
  internal/loadbalancer/testing.go
Due: generate

ci: drop terraform v1.13 and support terraform v1.15
  .github/workflows/test.yml
Due: prettier

test: invalid use of api name as tf resource name (#1416)
  internal/floatingip/testing.go
  internal/loadbalancer/data_source_test.go
  internal/loadbalancer/resource_service_test.go
  internal/loadbalancer/resource_target_test.go
  internal/loadbalancer/testing.go
  internal/primaryip/testing.go
  internal/testdata/r/hcloud_load_balancer.tf.tmpl
  internal/testdata/r/hcloud_load_balancer_network.tf.tmpl
  internal/testdata/r/hcloud_load_balancer_service.tf.tmpl
  internal/testdata/r/hcloud_load_balancer_target.tf.tmpl
  internal/testdata/r/hcloud_server_network.tf.tmpl
Due: generate

test: drop terraform v1.13 and add terraform v1.15 (#1418)
  .github/workflows/test.yml
Due: prettier

refactor: move hcloud_rdns to plugin framework
  docs/resources/rdns.md
  examples/resources/hcloud_rdns/example_1.tf
  examples/resources/hcloud_rdns/example_2.tf
  examples/resources/hcloud_rdns/example_3.tf
  examples/resources/hcloud_rdns/example_4.tf
  examples/resources/hcloud_rdns/import-by-string-id.tf
  examples/resources/hcloud_rdns/import.sh
  examples/resources/hcloud_rdns/resource.tf
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
  internal/rdns/common.go
  internal/rdns/model.go
  internal/rdns/model_test.go
  internal/rdns/resource.go
  internal/rdns/resource_rdns.go
  internal/rdns/resource_test.go
  internal/util/id.go
  internal/util/id_test.go
  templates/resources/rdns.md.tmpl
Due: opentofu_fmt, generate

tf upgrade tests
  internal/rdns/resource_test.go
Due: generate

test: not found /invalid ip resource fails gracefully
  internal/rdns/resource_test.go
Due: generate

test: drop opentofu v1.9 and add opentofu v1.12
  .github/workflows/test.yml
Due: prettier

test: drop opentofu v1.9 and add opentofu v1.12 (#1420)
  .github/workflows/test.yml
Due: prettier

docs: fix invalid examples
  docs/resources/rdns.md
  examples/resources/hcloud_rdns/import-by-string-id.tf
  examples/resources/hcloud_rdns/import.sh
Due: opentofu_fmt, generate

docs: update ID format examples
  docs/resources/rdns.md
  examples/resources/hcloud_rdns/import-by-string-id.tf
  examples/resources/hcloud_rdns/import.sh
Due: opentofu_fmt, generate

Apply suggestions from code review
  internal/rdns/common.go
  internal/rdns/resource_test.go
Due: generate

fix: missing prefix
  internal/rdns/common.go
Due: generate

refactor: move hcloud_rdns to Plugin Framework (#1419)
  docs/resources/rdns.md
  examples/resources/hcloud_rdns/example_1.tf
  examples/resources/hcloud_rdns/example_2.tf
  examples/resources/hcloud_rdns/example_3.tf
  examples/resources/hcloud_rdns/example_4.tf
  examples/resources/hcloud_rdns/import-by-string-id.tf
  examples/resources/hcloud_rdns/import.sh
  examples/resources/hcloud_rdns/resource.tf
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
  internal/rdns/common.go
  internal/rdns/model.go
  internal/rdns/model_test.go
  internal/rdns/resource.go
  internal/rdns/resource_rdns.go
  internal/rdns/resource_test.go
  internal/util/id.go
  internal/util/id_test.go
  templates/resources/rdns.md.tmpl
Due: opentofu_fmt, generate

feat: break cyclic import for ProtoV6ProviderFactories
  .golangci.yaml
  internal/teste2e/testing.go
  internal/testmux/testing.go
Due: prettier, generate

style: format files
  internal/testmux/testing.go
  internal/zone/function_idna_test.go
  internal/zonerrset/function_txt_record_test.go
Due: generate

chore: use gomodguard_v2 linter
  .golangci.yaml
Due: prettier

chore: use gomodguard_v2 linter (#1423)
  .golangci.yaml
Due: prettier

fix(server): restore network_id as required field (fixes #1407)
  docs/resources/server.md
  internal/server/resource.go
  internal/server/resource_test.go
  templates/resources/server.md.tmpl
Due: generate

feat(load-balancer): add service data source
  docs/data-sources/load_balancer_service.md
  docs/data-sources/load_balancer_services.md
  hcloud/provider.go
  internal/loadbalancer/data_source.go
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/resource_service.go
Due: generate

fix(server): handle ipv6 when removing public net block
  internal/server/resource.go
Due: generate

test: add testing blueprints
  internal/network/testing.go
  internal/primaryip/testing.go
Due: generate

test: add testing blueprints (#1428)
  internal/network/testing.go
  internal/primaryip/testing.go
Due: generate

fix(server): handle ipv6 when removing public net block (#1427)
  internal/server/resource.go
Due: generate

test: improve server primary ip tests
  internal/server/resource_test.go
Due: generate

use plugin framework
  docs/data-sources/load_balancer_service.md
  docs/data-sources/load_balancer_services.md
  hcloud/plugin_provider.go
  hcloud/provider.go
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/model.go
Due: generate

test(server): improve public net config test coverage (#1271)
  internal/server/resource_test.go
Due: generate

fix: resolve state-merge crash in hcloud_server network block (#1407)
  docs/resources/server.md
  internal/server/resource.go
  internal/server/resource_test.go
  templates/resources/server.md.tmpl
Due: generate

fix: remove duplicated test case
  internal/server/resource_test.go
Due: generate

fix(server): allow both `network_id` and `subnet_id` to be defined (#1430)
  docs/resources/server.md
  internal/server/resource.go
  internal/server/resource_test.go
  templates/resources/server.md.tmpl
Due: generate

chore(main): release v1.64.0
  CHANGELOG.md
Due: none

chore(main): release v1.64.0 (#1412)
  CHANGELOG.md
Due: none

add service list
  docs/data-sources/load_balancer_services.md
  hcloud/plugin_provider.go
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/data_source_service_list.go
  internal/loadbalancer/model.go
Due: generate
