Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.6.2

opentofu_fmt:
  name: opentofu_fmt
  description: Format all .tf files to a canonical format.
  language: docker_image
  entry: ghcr.io/opentofu/opentofu fmt

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: make generate
  pass_filenames: false

fix diagnostic resourceName
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/data_source_service_list.go
Due: generate

make load_balancer_id/listen_port required
  docs/data-sources/load_balancer_service.md
  internal/loadbalancer/data_source_service.go
Due: generate

chore(main): release v1.65.0 (#1432)
  CHANGELOG.md
Due: none

fix: handle invalid input without details
  internal/util/hcloudutil/error_framework.go
  internal/util/hcloudutil/error_framework_test.go
Due: generate

fix: handle invalid input errors without details (#1453)
  internal/util/hcloudutil/error_framework.go
  internal/util/hcloudutil/error_framework_test.go
Due: generate

feat: add parent resource to data source not found errors
  internal/storageboxsnapshot/data_source.go
  internal/storageboxsubaccount/data_source.go
  internal/util/hcloudutil/list.go
  internal/util/hcloudutil/list_test.go
  internal/zonerrset/data_source.go
Due: generate

refactor: add parent resource to data source list query errors (#1455)
  internal/storageboxsnapshot/data_source.go
  internal/storageboxsubaccount/data_source.go
  internal/util/hcloudutil/list.go
  internal/util/hcloudutil/list_test.go
  internal/zonerrset/data_source.go
Due: generate

refactor: move image data sources to Plugin Framework
  docs/data-sources/image.md
  docs/data-sources/images.md
  examples/data-sources/hcloud_image/data-source.tf
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
  internal/image/data_source.go
  internal/image/data_source_list.go
  internal/image/model.go
  internal/image/model_test.go
  templates/data-sources/image.md.tmpl
  templates/data-sources/images.md.tmpl
Due: opentofu_fmt, generate

improve tests and fix query params passing
  docs/data-sources/images.md
  internal/image/data_source.go
  internal/image/data_source_list.go
  internal/image/data_source_list_test.go
  internal/image/data_source_test.go
  internal/image/testing.go
  internal/testdata/d/hcloud_images.tf.tmpl
Due: generate

test: split list test in dedicated file
  internal/image/data_source_list_test.go
  internal/image/data_source_test.go
Due: generate

test: remove upgrade test
  internal/image/data_source_list_test.go
  internal/image/data_source_test.go
Due: generate

refactor(image): move image data sources to Plugin Framework (#1448)
  docs/data-sources/image.md
  docs/data-sources/images.md
  examples/data-sources/hcloud_image/data-source.tf
  hcloud/plugin_provider.go
  hcloud/provider.go
  hcloud/provider_test.go
  internal/image/data_source.go
  internal/image/data_source_list.go
  internal/image/data_source_list_test.go
  internal/image/data_source_test.go
  internal/image/model.go
  internal/image/model_test.go
  internal/image/testing.go
  internal/testdata/d/hcloud_images.tf.tmpl
  templates/data-sources/image.md.tmpl
  templates/data-sources/images.md.tmpl
Due: opentofu_fmt, generate

feat(image): warn when using a deprecated image
  internal/image/data_source.go
Due: generate

feat(image): warn when using a deprecated image (#1456)
  internal/image/data_source.go
Due: generate

test: run lb e2e test for debugging
  .github/workflows/test.yml
Due: prettier

feat: deprecate `hcloud_datacenter` and `hcloud_datacenters` data sources
  docs/data-sources/datacenter.md
  docs/data-sources/datacenters.md
  internal/datacenter/data_source.go
Due: generate

Remove markdown from warn diagnostic
  internal/datacenter/data_source.go
Due: generate

feat: deprecate `hcloud_datacenter(s)` data sources (#1463)
  docs/data-sources/datacenter.md
  docs/data-sources/datacenters.md
  internal/datacenter/data_source.go
Due: generate

chore(main): release v1.66.0
  CHANGELOG.md
Due: none

chore(main): release v1.66.0 (#1454)
  CHANGELOG.md
Due: none

docs: ensure create_before_destroy is set for certificates
  docs/resources/managed_certificate.md
  docs/resources/uploaded_certificate.md
  examples/resources/hcloud_managed_certificate/resource.tf
  examples/resources/hcloud_uploaded_certificate/resource.tf
  internal/loadbalancer/resource_service_test.go
  internal/testdata/r/hcloud_managed_certificate.tf.tmpl
  internal/testdata/r/hcloud_uploaded_certificate.tf.tmpl
Due: opentofu_fmt, generate

docs: use static_time for certificate unique names
  docs/resources/managed_certificate.md
  docs/resources/uploaded_certificate.md
  examples/resources/hcloud_managed_certificate/resource.tf
  examples/resources/hcloud_uploaded_certificate/resource.tf
Due: opentofu_fmt, generate

test: fix name collision with create before destroy lifecycle
  internal/certificate/resource_test.go
Due: generate

docs: ensure create_before_destroy is set for certificates (#1467)
  docs/resources/managed_certificate.md
  docs/resources/uploaded_certificate.md
  examples/resources/hcloud_managed_certificate/resource.tf
  examples/resources/hcloud_uploaded_certificate/resource.tf
  internal/certificate/resource_test.go
  internal/loadbalancer/resource_service_test.go
  internal/testdata/r/hcloud_managed_certificate.tf.tmpl
  internal/testdata/r/hcloud_uploaded_certificate.tf.tmpl
Due: opentofu_fmt, generate

style: reorder required attrs at the top
  internal/loadbalancer/data_source_service.go
Due: generate

style: wording
  docs/data-sources/load_balancer_service.md
  docs/data-sources/load_balancer_services.md
  internal/loadbalancer/data_source_service.go
Due: generate

style: move parent id at the top
  internal/loadbalancer/model.go
Due: generate

style: use ListValueFrom
  internal/loadbalancer/model.go
Due: generate

chore: yeet comment
  internal/loadbalancer/data_source_service.go
  internal/loadbalancer/data_source_service_list.go
Due: generate

test: add hcloud_image snapshot test case
  internal/image/data_source_list_test.go
  internal/image/data_source_test.go
  internal/image/testing.go
  internal/server/resource_test.go
  internal/testdata/d/hcloud_image.tf.tmpl
  internal/testdata/d/hcloud_images.tf.tmpl
Due: generate

test: ensure id is set
  internal/image/data_source_test.go
Due: generate

test: add not found tests
  internal/image/data_source_test.go
Due: generate

test: add hcloud_image snapshot test case (#1468)
  internal/image/data_source_list_test.go
  internal/image/data_source_test.go
  internal/image/testing.go
  internal/server/resource_test.go
  internal/testdata/d/hcloud_image.tf.tmpl
  internal/testdata/d/hcloud_images.tf.tmpl
Due: generate

chore: ignore datacenters deprecation
  internal/datacenter/data_source.go
  internal/primaryip/model_test.go
Due: generate

chore: ignore .terraform.lock.hcl files
  .gitignore
Due: none

chore: ignore .terraform.lock.hcl files (#1472)
  .gitignore
Due: none

test: remove datacenter in primary ips/servers tests after removal from api
  internal/primaryip/data_source_list_test.go
  internal/primaryip/data_source_test.go
  internal/primaryip/resource_test.go
Due: generate

test: datacenter is null
  internal/primaryip/data_source_list_test.go
  internal/primaryip/data_source_test.go
Due: generate

test: remove dc from server
  internal/server/resource_test.go
Due: generate

test: remove datacenter in primary ips/servers tests after api removal (#1473)
  internal/primaryip/data_source_list_test.go
  internal/primaryip/data_source_test.go
  internal/primaryip/resource_test.go
  internal/server/resource_test.go
Due: generate

Path conditions:
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|docs/.*)$
  opentofu_fmt: any of: \.tf$
  generate: any of: (^examples/|\.go$)
