Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.6.2

opentofu_fmt:
  name: opentofu_fmt
  description: Format all .tf files to a canonical format.
  language: docker_image
  entry: ghcr.io/opentofu/opentofu fmt

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: make generate
  pass_filenames: false

feat(871): add support and documentation for ISO datasources
  docs/data-sources/iso.md
  docs/data-sources/isos.md
  examples/data-sources/hcloud_iso/data-source.tf
  examples/data-sources/hcloud_isos/data-source.tf
  hcloud/provider.go
  hcloud/provider_test.go
  internal/iso/data_source.go
  internal/iso/data_source_test.go
  internal/iso/testing.go
  internal/testdata/d/hcloud_iso.tf.tmpl
  internal/testdata/d/hcloud_isos.tf.tmpl
  internal/teste2e/testing.go
  templates/data-sources/iso.md.tmpl
  templates/data-sources/isos.md.tmpl
Due: opentofu_fmt, generate

fix: add missing import examples
  docs/resources/ssh_key.md
  examples/resources/hcloud_ssh_key/import-by-string-id.tf
Due: opentofu_fmt, generate

feat: warn when experimental features are used
  README.md
  docs/index.md
  internal/util/experimental/experimental.go
  templates/index.md.tmpl
Due: prettier, generate

docs: wording
  README.md
Due: prettier

feat: warn when experimental features are used (#1155)
  README.md
  docs/index.md
  internal/util/experimental/experimental.go
  templates/index.md.tmpl
Due: prettier, generate

chore(main): release v1.52.0
  CHANGELOG.md
Due: none

feat: drop support for tofu v1.7
  .github/workflows/test.yml
Due: prettier

feat: add support for opentofu v1.10
  .github/workflows/test.yml
Due: prettier

feat: drop support for opentofu v1.7 (#1158)
  .github/workflows/test.yml
Due: prettier

feat: add support for opentofu v1.10 (#1159)
  .github/workflows/test.yml
Due: prettier

chore(main): release v1.52.0 (#1129)
  CHANGELOG.md
Due: none

fix: do not use hcloud-go default poll opts
  hcloud/plugin_provider.go
Due: generate

fix: ensure exponential poll backoff is configured (#1160)
  hcloud/plugin_provider.go
Due: generate

chore(main): release v1.52.1
  CHANGELOG.md
Due: none

tmp: use hcloud-go dev branch
  .golangci.yaml
  go.mod
  go.sum
Due: prettier

feat: add support for Hetzner API endpoint
  hcloud/plugin_provider.go
  hcloud/provider.go
Due: generate

docs: update provider arguments
  docs/index.md
  templates/index.md.tmpl
Due: none

feat: add support for Hetzner API endpoint (#1167)
  docs/index.md
  hcloud/plugin_provider.go
  hcloud/provider.go
  templates/index.md.tmpl
Due: generate

feat: add category property to server type
  docs/data-sources/server_type.md
  docs/data-sources/server_types.md
  internal/servertype/data_source.go
  internal/servertype/data_source_test.go
Due: generate

test: remove UpgradePluginFramework for server type
  internal/servertype/data_source_test.go
Due: generate

feat: add category property to server type (#1184)
  docs/data-sources/server_type.md
  docs/data-sources/server_types.md
  internal/servertype/data_source.go
  internal/servertype/data_source_test.go
Due: generate

fix: handle not found volume deletion
  internal/volume/resource.go
Due: generate

fix: handle not found volume deletion (#1189)
  internal/volume/resource.go
Due: generate

feat: per locations server types
  docs/data-sources/server_type.md
  docs/data-sources/server_types.md
  internal/server/resource.go
  internal/server/resource_test.go
  internal/servertype/data_source.go
  internal/servertype/data_source_test.go
Due: generate

fix: wait for floating_ip assign action to complete
  internal/floatingip/resource_assignment.go
Due: generate

fix: wait for floating_ip assign action to complete (#1195)
  internal/floatingip/resource_assignment.go
Due: generate

feat: per locations server types (#1193)
  docs/data-sources/server_type.md
  docs/data-sources/server_types.md
  internal/server/resource.go
  internal/server/resource_test.go
  internal/servertype/data_source.go
  internal/servertype/data_source_test.go
Due: generate

fix: add experimental features maturity
  docs/index.md
  internal/util/experimental/experimental.go
  templates/index.md.tmpl
Due: generate

fix: add experimental features maturity (#1191)
  docs/index.md
  internal/util/experimental/experimental.go
  templates/index.md.tmpl
Due: generate

chore(main): release v1.53.0
  CHANGELOG.md
Due: none

chore(main): release v1.53.0 (#1161)
  CHANGELOG.md
Due: none

fix: show warnings using diagnostics instead of logs
  internal/server/resource.go
Due: generate

fix: show warnings using diagnostics instead of logs (#1197)
  internal/server/resource.go
Due: generate

refactor: use hcloug-go deprecation helpers
  internal/server/resource.go
Due: generate

fix: also check server type deprecation after server creation
  internal/server/resource.go
Due: generate

fix: also check server type deprecation after server creation (#1201)
  internal/server/resource.go
Due: generate

chore(main): release v1.53.1
  CHANGELOG.md
Due: none

chore(main): release v1.53.1 (#1199)
  CHANGELOG.md
Due: none

Path conditions:
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|docs/.*)$
  opentofu_fmt: any of: \.tf$
  generate: any of: (^examples/|\.go$)
