Repository hetznercloud/terraform-provider-hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, opentofu_fmt, generate

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.6.2

opentofu_fmt:
  name: opentofu_fmt
  description: Format all .tf files to a canonical format.
  language: docker_image
  entry: ghcr.io/opentofu/opentofu fmt

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: make generate
  pass_filenames: false

fix(zonerrset): make SOA records settable via update-on-create (#1289)
  docs/resources/zone_rrset.md
  internal/zonerrset/resource.go
  internal/zonerrset/resource_test.go
Due: generate

chore(ci): support running acceptance tests from forks
  .github/workflows/test.yml
  README.md
Due: prettier

docs(load_balancer_service): document TLS termination and passthrough
  docs/resources/load_balancer_service.md
  templates/resources/load_balancer_service.md.tmpl
Due: none

fix(load_balancer): lift delete protection when deleting the resource
  internal/loadbalancer/resource.go
  internal/loadbalancer/resource_test.go
Due: generate

chore(ci): run acceptance tests from a fork via workflow_dispatch
  .github/workflows/test.yml
  README.md
Due: prettier

docs(load_balancer_service): use h3 for the TLS termination section heading
  docs/resources/load_balancer_service.md
  templates/resources/load_balancer_service.md.tmpl
Due: none

chore(ci): consolidate fork docs and default the test location
  .github/workflows/test.yml
  README.md
Due: prettier

docs(load_balancer_service): document TLS termination and passthrough (#1479)
  docs/resources/load_balancer_service.md
  templates/resources/load_balancer_service.md.tmpl
Due: none

fix(primary_ip): only validate assignee attributes when known
  internal/primaryip/resource.go
Due: generate

fix(primary_ip): only validate assignee attributes when known (#1487)
  internal/primaryip/resource.go
Due: generate

fix(server): inconsistent image attribute when using data source
  internal/server/resource.go
Due: generate

test: add reproduction test
  internal/server/resource_test.go
Due: generate

fix(server): inconsistent image attribute when using data source (#1489)
  internal/server/resource.go
  internal/server/resource_test.go
Due: generate

chore(main): release v1.66.1
  CHANGELOG.md
Due: none

fix(server): drifting labels after first creation
  internal/server/resource.go
  internal/server/resource_test.go
Due: generate

chore(main): release v1.66.1 (#1488)
  CHANGELOG.md
Due: none

test: use smallest server type available
  internal/servertype/data_source_test.go
  internal/teste2e/testing.go
Due: generate

test: use smallest server type available (#1491)
  internal/servertype/data_source_test.go
  internal/teste2e/testing.go
Due: generate

fix(server): do not validate unknown network config
  internal/server/resource.go
Due: generate

fix(server): do not validate unknown network config (#1493)
  internal/server/resource.go
Due: generate

test: set acceptance tests provider to `hetznercloud`
  .github/workflows/test.yml
Due: prettier

test: fix opentofu unexpectedly moving resource during tests (#1497)
  .github/workflows/test.yml
Due: prettier

docs: remove primary ips data sources template
  docs/data-sources/primary_ip.md
  docs/data-sources/primary_ips.md
  internal/primaryip/data_source.go
  internal/primaryip/data_source_list.go
  templates/data-sources/primary_ip.md.tmpl
  templates/data-sources/primary_ips.md.tmpl
Due: generate

docs: remove primary ips data sources template (#1498)
  docs/data-sources/primary_ip.md
  docs/data-sources/primary_ips.md
  internal/primaryip/data_source.go
  internal/primaryip/data_source_list.go
  templates/data-sources/primary_ip.md.tmpl
  templates/data-sources/primary_ips.md.tmpl
Due: generate

docs: document user_data size limit
  docs/resources/server.md
  templates/resources/server.md.tmpl
Due: none

docs: document user_data size limit (#1499)
  docs/resources/server.md
  templates/resources/server.md.tmpl
Due: none

test: fix storage box import testing in opentofu
  internal/storagebox/resource_test.go
Due: generate

test: revert fix opentofu unexpectedly moving resource during tests (#1497)
  .github/workflows/test.yml
Due: prettier

test: revert fix opentofu unexpectedly moving resource during tests (#1497) (#1503)
  .github/workflows/test.yml
Due: prettier

test: always configure TF_ACC_PROVIDER_NAMESPACE
  .github/workflows/test.yml
Due: prettier

test: do not reconfigure before importing resource
  internal/firewall/attachment_resource_test.go
  internal/storagebox/resource_test.go
  internal/storageboxsnapshot/resource_test.go
  internal/storageboxsubaccount/resource_test.go
Due: generate

test: always configure TF_ACC_PROVIDER_NAMESPACE and fix broken tests (#1504)
  .github/workflows/test.yml
  internal/firewall/attachment_resource_test.go
  internal/storagebox/resource_test.go
  internal/storageboxsnapshot/resource_test.go
  internal/storageboxsubaccount/resource_test.go
Due: prettier, generate

feat: remove `datacenter` from primary ips and servers
  docs/data-sources/datacenters.md
  docs/data-sources/primary_ip.md
  docs/data-sources/primary_ips.md
  docs/data-sources/server.md
  docs/resources/primary_ip.md
  docs/resources/server.md
  examples/data-sources/hcloud_datacenters/data-source.tf
  internal/primaryip/data_source.go
  internal/primaryip/data_source_list.go
  internal/primaryip/data_source_list_test.go
  internal/primaryip/data_source_test.go
  internal/primaryip/model.go
  internal/primaryip/model_test.go
  internal/primaryip/resource.go
  internal/primaryip/resource_test.go
  internal/primaryip/testing.go
  internal/server/data_source.go
  internal/server/model.go
  internal/server/resource.go
  internal/server/resource_test.go
  internal/server/testing.go
  internal/testdata/r/hcloud_primary_ip.tf.tmpl
  internal/testdata/r/hcloud_server.tf.tmpl
  internal/teste2e/testing.go
  internal/util/validateutil/removed.go
  templates/data-sources/server.md.tmpl
  templates/resources/server.md.tmpl
Due: opentofu_fmt, generate

test: fix missing newline caused by tf output wrapping
  internal/primaryip/resource_test.go
  internal/server/resource_test.go
Due: generate

feat: remove `datacenter` from primary ips and servers (#1501)
  docs/data-sources/datacenters.md
  docs/data-sources/primary_ip.md
  docs/data-sources/primary_ips.md
  docs/data-sources/server.md
  docs/resources/primary_ip.md
  docs/resources/server.md
  examples/data-sources/hcloud_datacenters/data-source.tf
  internal/primaryip/data_source.go
  internal/primaryip/data_source_list.go
  internal/primaryip/data_source_list_test.go
  internal/primaryip/data_source_test.go
  internal/primaryip/model.go
  internal/primaryip/model_test.go
  internal/primaryip/resource.go
  internal/primaryip/resource_test.go
  internal/primaryip/testing.go
  internal/server/data_source.go
  internal/server/model.go
  internal/server/resource.go
  internal/server/resource_test.go
  internal/server/testing.go
  internal/testdata/r/hcloud_primary_ip.tf.tmpl
  internal/testdata/r/hcloud_server.tf.tmpl
  internal/teste2e/testing.go
  internal/util/validateutil/removed.go
  templates/data-sources/server.md.tmpl
  templates/resources/server.md.tmpl
Due: opentofu_fmt, generate

chore(main): release v1.67.0
  CHANGELOG.md
Due: none

chore(main): release v1.67.0 (#1495)
  CHANGELOG.md
Due: none

ci: allow running acceptance tests from forks
  .github/workflows/test.yml
  internal/certificate/resource_test.go
  internal/teste2e/testing.go
Due: prettier, generate

ci: allow running acceptance tests from forks (#1505)
  .github/workflows/test.yml
  internal/certificate/resource_test.go
  internal/teste2e/testing.go
Due: prettier, generate

tests: add plan check to zone_record resource
  internal/zonerecord/resource_test.go
Due: generate

Path conditions:
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|docs/.*)$
  opentofu_fmt: any of: \.tf$
  generate: any of: (^examples/|\.go$)
